<?php
// ******************* // 
// Theme CSS Resources //
// ******************* //
Configure::write('css', array(
    'admin' => array(
        array(
            'page' => GUMM_THEME_PAGE,
            'url' => array(
                'colorpickerStyle' => GUMM_THEME_JS_URL . 'colorpicker/css/colorpicker.css',
                'shortcodesStyle' => GUMM_THEME_JS_URL . 'gumm-shortcodes-editor/shortcode-editor.css',
                'bootstrapAdminResponsive' => GUMM_THEME_CSS_URL . 'bootstrap-admin-responsive.css',
                'bootstrapAdmin' => GUMM_THEME_CSS_URL . 'bootstrap-admin.css',
                'adminStyle' => GUMM_THEME_CSS_URL . 'style-admin.css',
                'awesomeFont' => GUMM_THEME_CSS_URL . 'font-awesome/css/font-awesome.min.css',
            ),
        ),
    ),
    'public' => array(
        array(
            'url' => array(
                'bootstrap'   => GUMM_THEME_CSS_URL . 'bootstrap.min.css',
                'mainStyle' => get_stylesheet_uri(),
                'bootstrapResponsive' => GUMM_THEME_CSS_URL . 'bootstrap-responsive.css',
                'googleFontsOpenSans' =>  'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic',
                'awesomeFont' => GUMM_THEME_CSS_URL . 'font-awesome/css/font-awesome.min.css',
                'prettyPhoto' => GUMM_THEME_JS_URL . 'prettyPhoto/css/prettyPhoto.css',
                'styleDimov' => GUMM_THEME_CSS_URL . 'style-dimov.css',
            ),
        ),
    ),
));
// ******************* // 
// Theme JS Resources //
// ******************* //
Configure::write('Assets.js', array(
    
));

?>