<?php
Configure::write('Data.BuilderElements', array(
    'single' => array(
        'title' => __('Single Layouts', 'gummfw'),
        'elements' => array(
            'single_featured_image',
            'single_post_meta',
            'single_post_content',
            'single_portfolio_details',
            'single_taxonomies',
            'single_staff_vcard',
            'single_staff_details',
            'single_sharebox',
            'single_author',
            'single_related',
            'single_comments',
            'single_event',
        ),
    ),
    'posts' => array(
        'title' => __('Posts',' gummfw'),
        'elements' => array(
            'staff',
            'blog',
            'portfolio',
            'quote',
            'partner',
            'event'
        ),
    ),
    'custom' => array(
        'title' => __('Custom',' gummfw'),
        'elements' => array(
            'fancy_text',
            'heading',
            'page_content',
            'rich_content',
            'tabs',
            'text_box',
            'terms',
        ),
    ),
    'shop' => array(
        'title' => __('Shop',' gummfw'),
        'elements' => array(),
    ),
    'sliders' => array(
        'title' => __('Sliders',' gummfw'),
        'elements' => array(
            'slider',
            'ios_slider',
            'layer_slider',
            'revolution_slider',
        ),
    ),
    'social' => array(
        'title' => __('Social',' gummfw'),
        'elements' => array(
            'twitter_tweets',
        ),
    ),
    'contact' => array(
        'title' => __('Contact',' gummfw'),
        'elements' => array(
            'contact_form',
            'google_map'
        ),
    ),
    'sidebars' => array(
        'title' => __('Sidebars',' gummfw'),
        'elements' => array(
            
        ),
    ),
));

Configure::write('Data.BuilderTemplates', array(
    'default' => array(
        'content' => array(
            'page_content'
        ),
        'header' => array()
    ),
    'index' => array(
        'content' => array(
            'blog' => array(
                'postType' => 'default',
                'postsNumber' => get_option('posts_per_page'),
                'excerptLength' => 'full',
                'layout' => 'vertical',
                'verticalLayoutStyle' => 'default',
                'lightBoxLinkDisplay' => 'true',
                'enablePaginate' => 'true',
            ),
        ),
        'header' => array(),
    ),
    'blog' => array(
        'content' => array(
            'blog' => array(
                'postType' => 'default',
                'postsNumber' => get_option('posts_per_page'),
                'excerptLength' => 300,
                'layout' => 'vertical',
                'verticalLayoutStyle' => 'default',
                'lightBoxLinkDisplay' => 'true',
                'enablePaginate' => 'true',
            ),
        ),
        'header' => array(),
    ),
    'blog-post' => array(
        'content' => array(
            'single_featured_image',
            'single_post_meta',
            'single_post_content',
            'single_taxonomies',
            'single_sharebox',
            'single_author',
            'single_related',
            'single_comments',
        ),
        'header' => array(),
    ),
    'portfolio-post' => array(
        'content' => array(
            'single_featured_image',
            'single_portfolio_details',
            // 'single_post_meta',
            // 'single_post_content',
            // 'single_taxonomies',
            // 'single_sharebox',
            // 'single_author',
            'single_related',
            'single_comments',
        ),
        'header' => array()
    ),
    'staff-post' => array(
        'content' => array(
            'single_staff_vcard',
            'single_staff_details',
        ),
        'header' => array()
    ),
    'event-post' => array(
        'content' => array(
            'single_event',
        ),
        'header' => array()
    ),
));

Configure::write('Data.socialNetworksEnabled', array(
    'facebook'      => __('Facebook', 'gummfw'),
    'twitter'       => __('Twitter', 'gummfw'),
    'linkedin'      => __('LinkedIn', 'gummfw'),
    'printerest'    => __('Printerest', 'gummfw'),
    'googleplus'    => __('Google+', 'gummfw'),
    'youtube'       => __('YouTube', 'gummfw'),
));

Configure::write('Data.Twitter', array(
    'consumerKey'       => 'qbKlmaSh5Q8HPuuy4hN/Iv51QRpIfQ==',
    'consumerSecret'    => 'x7uH+Y7DoxsuN9ac0xN2KONKdX0oakg8NBT+DzR8aQhoUUx/LU+wP35jEQ==',
    'accessToken'       => 'r9f+/dDGoF5bRZSN1wJHK4EOKl0qQ3pqGW/iVCN0QzB+AVpgOmCpUkYcNmHbloKLgpY=',
    'accessTokenSecret' => '26Ckq5eSxQ8yGeve6wVjOc50dhlobjNuF1j8cS9/VQFZWkF0GlC0Mlt9', 
));

Configure::write('Data.externalPlugins', array(
    array(
        'name'  => 'LayerSlider WP',
        'slug'  => 'LayerSlider',
        'file'  => 'layersliderwp-4.6.0.installable.zip',
    ),
    array(
        'name'  => 'Revolution Slider',
        'slug'  => 'revslider',
        'file'  => 'revslider.zip',
    ),
));

Configure::write('Data.externalPluginIntegraion', array(
    'WooCommerce' => array(
        'path' => 'woocommerce/woocommerce.php',
    ),
));
?>