<?php
$gummWpHelper = GummRegistry::get('Helper', 'Wp');

Configure::write('admin.metaboxes', array(
    array(
        'id' => 'gummbase_layout_schema',
        'title' => __('Layout Options', 'gummfw'),
        // 'page' => array('page'),
        'page' => array('page' => array('NOT' => $gummWpHelper->getBlogPageId())),
        'hidden' => 'single',
        'context' => 'side',
        'priority' => 'default',
        'requestAction' => array('admin' => true, 'controller' => 'metaboxes', 'action' => 'layouts_schema'),
    ),
    array(
        'id' => 'gummbase_page_builder',
        'title' => __('Page Builder', 'gummfw'),
        // 'page' => array('page'),
        'page' => array('page' => array('NOT' => $gummWpHelper->getBlogPageId())),
        // 'page' => array('page', 'single' => array('NOT' => 'partner'),),
        'hidden' => 'single',
        'context' => 'normal',
        'priority' => 'high',
        'requestAction' => array('admin' => true, 'controller' => 'metaboxes', 'action' => 'layouts_page_builder'),
    ),
    array(
        'id' => GUMM_THEME_PREFIX . '_post_media',
        'title' => __('Gallery', 'gummfw'),
        'page' => array('post', 'portfolio', 'gallery', 'video'),
        'context' => 'normal',
        'priority' => 'high',
        'requestAction' => array('controller' => 'metaboxes', 'action' => 'post_media'),
    ),
    array(
        'id' => GUMM_THEME_PREFIX . '_page_header_layout',
        'title' => __('Page Header Settings', 'gummfw'),
        // 'page' => array('page', 'single' => array('NOT' => 'partner'),),
        'page' => array('page'),
        'context' => 'side',
        'priority' => 'high',
        'hidden' => 'single',
        'fields' => array(
            // Little trickery, since we don't really have page templates, but WP is awesome
            array(
                'id' => GUMM_THEME_PREFIX . '_page_template',
                'type' => 'hidden',
                'inputAttributes' => array(
                    'id' => 'page_template',
                    'name' => 'page_template',
                    'value' => 'default'
                ),
            ),
            array(
                'id' => GUMM_THEME_PREFIX . '_postmeta.header_settings',
                'type' => 'tabbed-input',
                'default' => 'global',
                'inputOptions' => array(
                    'global' => __('Global Settings', 'gummfw'),
                    'custom' => __('Custom Settings', 'gummfw'),
                ),
                'tabs' => array(
                    'global' => array(
                        'text' => __('Global Theme Options settings will be used.', 'gummfw'),
                    ),
                    'custom' => array(
                        array(
                            'id' => GUMM_THEME_PREFIX . '_postmeta.header_layout',
                            'name' => __('Header Layout', 'gummfw'),
                            'type' => 'select',
                            'inputOptions' => array(
                                'one' => __('Left aligned logo, navigation menu below', 'gummfw'),
                                'two' => __('Left aligned logo, navigation menu to the right', 'gummfw'),
                                'centered' => __('Center aligned logo, navigation menu below', 'gummfw'),
                            ),
                            'default' => $gummWpHelper->getOption('header_layout'),
                        ),
                        array(
                            'id' => GUMM_THEME_PREFIX . '_postmeta.header_menu_style',
                            'name' => __('Header Menu Style', 'gummfw'),
                            'type' => 'select',
                            'inputOptions' => array(
                                'one' => __('Style One (default)', 'gummfw'),
                                'two' => __('Style Two (dark)', 'gummfw'),
                                'three' => __('Style three (dashed)', 'gummfw'),
                                'four' => __('Style four (plain)', 'gummfw'),
                            ),
                            'default' => $gummWpHelper->getOption('header_menu_style'),
                        ),
                        array(
                            'id' => GUMM_THEME_PREFIX . '_postmeta.main_menu_dropdown_style',
                            'name' => __('Header Menu Drop Down Style', 'gummfw'),
                            'type' => 'select',
                            'inputOptions' => array(
                                'light' => __('Light', 'gummfw'),
                                'dark' => __('Dark', 'gummfw'),
                            ),
                            'default' => $gummWpHelper->getOption('main_menu_dropdown_style'),
                        ),
                        array(
                            'id' => GUMM_THEME_PREFIX . '_postmeta.header_menu_search_icon',
                            'name' => __('Header Menu Search Icon', 'gummfw'),
                            'type' => 'radio',
                            'inputOptions' => array(
                                'true' => __('Enable', 'gummfw'),
                                'false' => __('Disable', 'gummfw'),
                            ),
                            'default' => $gummWpHelper->getOption('header_menu_search_icon'),
                        ),
                        array(
                            'name' => __('Display Header Info Panel', 'gummfw'),
                            'id' => GUMM_THEME_PREFIX . '_postmeta.header_info_display',
                            'default' => $gummWpHelper->getOption('header_info_display'),
                            'type' => 'radio',
                            'inputOptions' => array(
                                'true' => __('Enable', 'gummfw'),
                                'false' => __('Disable', 'gummfw'),
                            ),
                        ),
                        array(
                            'name' => __('Header Info Panel Color Style', 'gummfw'),
                            'id' => GUMM_THEME_PREFIX . '_postmeta.header_info_bar_style',
                            'default' => $gummWpHelper->getOption('header_info_bar_style'),
                            'type' => 'radio',
                    		'inputOptions' => array(
                                'light' => __('Light', 'gummfw'),
                                'colorful' => __('Colorful', 'gummfw'),
                    		),
                        ),
                        array(
                            'name' => __('Header Detail Displays:', 'gummfw'),
                            'id' => GUMM_THEME_PREFIX . '_postmeta.header_details_display',
                            'default' => $gummWpHelper->getOption('header_detail_components.display'),
                            'type' => 'checkboxes',
                            'inputOptions' => array(
                                'tagline' => __('Tagline', 'gummfw'),
                                'search' => __('Search field', 'gummfw'),
                                'social' => __('Social networks', 'gummfw'),
                            ),
                        ),
                    ),
                ),
            ),
        ),
    ),
    array(
        'id' => GUMM_THEME_PREFIX . '_page_heading_settings',
        'title' => __('Page Heading Settings', 'gummfw'),
        // 'page' => array('page', 'single' => array('NOT' => 'partner'),),
        'page' => array('page'),
        'context' => 'side',
        'priority' => 'high',
        'hidden' => 'single',
        'fields' => array(
            array(
                'id' => GUMM_THEME_PREFIX . '_postmeta.heading_box_settings',
                'type' => 'tabbed-input',
                'default' => 'global',
                'inputOptions' => array(
                    'global' => __('Global Settings', 'gummfw'),
                    'custom' => __('Custom Settings', 'gummfw'),
                ),
                'tabs' => array(
                    'global' => array(
                        'text' => __('Global Theme Options settings will be used.', 'gummfw'),
                    ),
                    'custom' => array(
                        array(
                            'id' => GUMM_THEME_PREFIX . '_postmeta.heading_box_display',
		                    'name' => __('Display Heading Box', 'gummfw'),
                            'type' => 'checkbox',
                            'default' => $gummWpHelper->getOption('heading_box_display'),
                        ),
                        array(
                            'id' => GUMM_THEME_PREFIX . '_postmeta.heading_box_components.display',
                            'name' => __('Heading Box Components:', 'gummfw'),
                            'type' => 'checkboxes',
                            'inputOptions' => array(
                                'search' => __('Search field', 'gummfw'),
                                'social' => __('Social networks', 'gummfw'),
                                'breadcrumbs' => __('Breadcrumbs', 'gummfw'),
                            ),
                            'default' => $gummWpHelper->getOption('heading_box_components.display'),
                        ),
                        array(
                            'name' => __('Heading Box - Social Networks', 'gummfw'),
                            'id' => GUMM_THEME_PREFIX . '_postmeta.heading_box_components.social',
                            'default' => $gummWpHelper->getOption('heading_box_components.social'),
                            'type' => 'checkboxes',
                            'inputOptions' => array(
                                'facebook' => 'Facebook', 
                                'twitter' => 'Twitter', 
                                'linkedin' => 'LinkedIn', 
                                'pinterest' => 'Pinterest', 
                                'googleplus' => 'Google+',
                                'youtube' => 'YouTube',
                            ),
                        ),
                    ),
                ),
            ),
            array(
                'name' => __('Subheading', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.subheading',
                'type' => 'text',
            ),
        ),
    ),
    // array(
    //     'id' => GUMM_THEME_PREFIX . '_page_subheadline',
    //     'title' => __('Page Heading Settings'),
    //     'page' => array('page', 'single' => array('NOT' => 'partner'),),
    //     'context' => 'side',
    //     'priority' => 'high',
    //     'hidden' => 'single',
    //     'fields' => array(
    //         array(
    //             'name' => __('Show Heading Box', 'gummfw'),
    //             'id' => GUMM_THEME_PREFIX . '_postmeta.heading_display',
    //             'type' => 'checkbox',
    //             'default' => 'true',
    //         ),
    //         array(
    //             'name' => __('Include Search Input in Heading Box', 'gummfw'),
    //             'id' => GUMM_THEME_PREFIX . '_postmeta.heading_search_display',
    //             'type' => 'checkbox',
    //             'default' => 'true',
    //         ),
    //         array(
    //             'name' => __('Include Social Bar in Heading Box', 'gummfw'),
    //             'id' => GUMM_THEME_PREFIX . '_postmeta.heading_social_display',
    //             'type' => 'checkbox',
    //             'default' => 'true',
    //         ),
    //         array(
    //             'name' => __('Include Breadcrumbs in Heading Box', 'gummfw'),
    //             'id' => GUMM_THEME_PREFIX . '_postmeta.heading_breadcrumbs_display',
    //             'type' => 'checkbox',
    //             'default' => 'true',
    //         ),
    //         array(
    //             'name' => __('Page Subheading', 'gummfw'),
    //             'id' => GUMM_THEME_PREFIX . '_postmeta.subheading',
    //             'type' => 'text',
    //         ),
    //     ),
    // ),
    array(
        'id' => GUMM_THEME_PREFIX . '_testimonial_author',
        'title' => __('Testimonial Author', 'gummfw'),
        'page' => 'testimonial',
        'context' => 'side',
        'priority' => 'high',
        'fields' => array(
            array(
                'name' => __('Author', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.author',
                'type' => 'text',
            ),
            array(
                'name' => __('Organisation', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.organisation',
                'type' => 'text',
            ),
        ),
    ),
    array(
        'id' => GUMM_THEME_PREFIX . '_partner_meta',
        'title' => __('Partner Meta', 'gummfw'),
        'page' => 'partner',
        'context' => 'side',
        'priority' => 'high',
        'fields' => array(
            array(
                'name' => __('Parnter url', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.url',
                'type' => 'text',
            ),
        ),
    ),
    array(
        'id' => GUMM_THEME_PREFIX . '_event_info_metabox',
        'title' => __('Event Info'),
        'page' => 'event',
        'context' => 'side',
        'priority' => 'high',
        'fields' => array(
            array(
                'name' => __('Event rating', 'gummfw'),
                'desc' => '',
                'id' => GUMM_THEME_PREFIX . '_postmeta.event_rating',
                'type' => 'rating',
                'boundToOption' => 'event.display_rating'
            ),
            array(
                'name' => __('Event start date', 'gummfw'),
                'desc' => '',
                'id' => GUMM_THEME_PREFIX . '_event_start_time',
                'type' => 'date',
            ),
            array(
                'name' => __('Event end date', 'gummfw'),
                'desc' => '',
                'id' => GUMM_THEME_PREFIX . '_event_end_time',
                'type' => 'date',
            ),
            array(
                'name' => __('Recurrence', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_recurrence',
                'type' => 'select',
                'inputOptions' => array(
                    'none' => __('none', 'gummfw'),
                    'daily' => __('daily', 'gummfw'),
                    'weekly' => __('weekly', 'gummfw'),
                    'monthly' => __('monthly', 'gummfw'),
                    'yearly' => __('yearly', 'gummfw'),
                ),
            ),
        ),
    ),
    array(
        'id' => GUMM_THEME_PREFIX . '_event_organizer_metabox',
        'title' => __('Event Organizer', 'gummfw'),
        'page' => 'event',
        'context' => 'side',
        'priority' => 'high',
        'fields' => array(
            array(
                'name' => __('Name', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.event_organizer_name',
                'type' => 'text',
            ),
            array(
                'name' => __('Link', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.event_organizer_link',
                'type' => 'text',
            ),
            array(
                'name' => __('Short Info', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.event_shortinfo',
                'type' => 'text',
            ),
        ),
    ),
    array(
        'id' => GUMM_THEME_PREFIX . 'staff_social',
        'title' => __('Social Networks', 'gummfw'),
        'page' => 'staff',
        'context' => 'side',
        'priority' => 'default',
        'fields' => array(
            array(
                'name' => __('Twitter url:', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.social_networks_url.twitter_url',
                'type' => 'text',
            ),
            array(
                'name' => __('Facebook url:', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.social_networks_url.facebook_url',
                'type' => 'text',
            ),
            array(
                'name' => __('Google+ url:', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.social_networks_url.google-plus_url',
                'type' => 'text',
            ),
            array(
                'name' => __('LinkedIn url:', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.social_networks_url.linkedin_url',
                'type' => 'text',
            ),
            array(
                'name' => __('Instagram url:', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.social_networks_url.instagram_url',
                'type' => 'text',
            ),
            array(
                'name' => __('Dribbble url:', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.social_networks_url.dribbble_url',
                'type' => 'text',
            ),
            array(
                'name' => __('GitHub url:', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.social_networks_url.github_url',
                'type' => 'text',
            ),
            array(
                'name' => __('Pinterest url:', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.social_networks_url.pinterest_url',
                'type' => 'text',
            ),
        ),
    ),
    array(
        'id' => GUMM_THEME_PREFIX . '_staff_meta_metabox',
        'title' => __('Staff Member Info', 'gummfw'),
        'page' => 'staff',
        'context' => 'normal',
        'priority' => 'high',
        'fields' => array_merge(array(
            // array(
            //     'name' => __('Staff Member Featured Icon', 'gummfw'),
            //     'id' => GUMM_THEME_PREFIX . '_postmeta.staff_member_icon',
            //     'type' => 'icon',
            // ),
        ), GummRegistry::get('Helper', 'Wp')->getDescriptionFieldsForOption('staff_member_description_fields', 'postmeta.staff_fields')),
    ),
    // array(
    //     'id' => GUMM_THEME_PREFIX . '_post_background_metabox',
    //     'title' => __('Page Background', 'gummfw'),
    //     'page' => array('page'),
    //     'context' => 'normal',
    //     'priority' => 'high',
    //     'hidden' => true,
    //     'requestAction' => array('controller' => 'Metaboxes', 'action' => 'admin_edit_background'),
    // ),
    // array(
    //     'id' => GUMM_THEME_PREFIX . '_post_heading_background_metabox',
    //     'title' => __('Page Header Background', 'gummfw'),
    //     'page' => array('page'),
    //     'context' => 'normal',
    //     'priority' => 'high',
    //     'hidden' => true,
    //     'inputStyleSelector' => 'page-heading-wrap',
    //     'contentSelector' => false,
    //     'requestAction' => array('controller' => 'Metaboxes', 'action' => 'admin_edit_background'),
    // ),
    array(
        'id' => GUMM_THEME_PREFIX . 'post_featured_image_display_metabox',
        'title' => __('Featured Image Display', 'gummfw'),
        'page' => array('post', 'portfolio'),
        'context' => 'side',
        'priority' => 'default',
        'fields' => array(
            array(
                'name' => __('Display featured image on single post\'s views?', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.featured_image_single_display',
                'type' => 'checkbox',
                'default' => 'true'
            ),
        ),
    ),
    array(
        'id' => GUMM_THEME_PREFIX . 'portfolio_info_metabox',
        'title' => __('Portfolio info', 'gummfw'),
        'page' => array('portfolio'),
        'context' => 'normal',
        'priority' => 'high',
        'fields' => array(
            array(
                'name' => __('Project Link Title', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.project_link_title',
                'type' => 'text',
                'default' => __('View Project', 'gummfw'),
            ),
            array(
                'name' => __('Project Link Url', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.project_link_url',
                'type' => 'text',
            ),
            array(
                'name' => __('Project Client', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.project_client',
                'type' => 'text',
            ),
            array(
                'name' => __('Project Date', 'gummfw'),
                'id' => GUMM_THEME_PREFIX . '_postmeta.project_date',
                'type' => 'text',
            ),
        ),
    ),
));

?>