<?php
Configure::write('shortcodes', array(
    // ======== //
    // DROPCAPS //
    // ======== //    
    array(
        'id' => 'dropcap',
        'group_id' => 'default',
        'name' => __('Drop Caps Plain Background', 'gummfw'),
        'types' => array(
            'white' => __('White', 'gummfw'),
            'red' => __('Red', 'gummfw'),
            'blue' => __('Blue', 'gummfw'),
            'green' => __('Green', 'gummfw'),
            'gray' => __('Gray', 'gummfw'),
            'black' => __('Black', 'gummfw'),
            'orange' => __('Orange', 'gummfw'),            
        ),
        'attributes' => array(
            'type' => null,
            'size' => null,
            'shape' => null
        ),
        'editor' => 'adminEditorDropCaps',
    ),
    array(
        'id' => 'dropcapsqr',
        'group_id' => 'default',
        'name' => __('Drop Caps Square Background', 'gummfw'),
        'types' => array(
            'white' => __('White', 'gummfw'),
            'red' => __('Red', 'gummfw'),
            'blue' => __('Blue', 'gummfw'),
            'green' => __('Green', 'gummfw'),
            'gray' => __('Gray', 'gummfw'),
            'black' => __('Black', 'gummfw'),
            'orange' => __('Orange', 'gummfw'),            
        ),
        'attributes' => array(
            'type' => 'plain',
            'size' => 'small',
            'shape' => 'square',
        ),
        'editor' => 'adminEditorDropCaps',
    ),
    array(
        'id' => 'dropcaprnd',
        'group_id' => 'default',
        'name' => __('Drop Caps Rounded Background', 'gummfw'),
        'types' => array(
            'white' => __('White', 'gummfw'),
            'red' => __('Red', 'gummfw'),
            'blue' => __('Blue', 'gummfw'),
            'green' => __('Green', 'gummfw'),
            'gray' => __('Gray', 'gummfw'),
            'black' => __('Black', 'gummfw'),
            'orange' => __('Orange', 'gummfw'),            
        ),
        'attributes' => array(
            'type' => 'plain',
            'size' => 'small',
            'shape' => 'rounded'
        ),
        'editor' => 'adminEditorDropCaps',
    ),
    // DROPCAPS END //
    // array(
    //     'id' => 'google-map',
    //     'group_id' => 'default',
    //     'name' => __('Google Map', 'gummfw'),
    //     'types' => false,
    //     'attributes' => array(
    //         'lat' => '',
    //         'lang' => ''
    //     ),
    //     'editor' => 'adminEditorGoogleMaps',
    // ),
    array(
        'id' => 'accordion',
        'group_id' => 'default',
        'name' => __('Accordion', 'gummfw'),
        'types' => false,
        'attributes' => array(
            
        ),
        'shortcodes' => array(
            array(
                'id' => 'accordion_tab',
                'types' => false,
                'attributes' => array('title' => ''),
            ),
        ),
        'editor' => 'adminEditorTabs',
    ),
    array(
        'id' => 'tabs',
        'group_id' => 'default',
        'name' => __('Tabs', 'gummfw'),
        'types' => false,
        'attributes' => array(
            
        ),
        'shortcodes' => array(
            array(
                'id' => 'tab_content',
                'types' => false,
                'attributes' => array('title' => ''),
            ),
        ),
        'editor' => 'adminEditorTabs',
    ),
    array(
        'id' => 'pricing_table',
        'group_id' => 'default',
        'name' => __('Pricing Tables', 'gummfw'),
        'types' => array(
            'default' => __('default', 'gummfw'),
        ),
        'attributes' => array(
            'type' => 'default',
        ),
        'editor' => 'adminEditorPricingTable',
    ),
    array(
        'id' => 'skill_bars',
        'group_id' => 'default',
        'name' => __('Skill Bars', 'gummfw'),
        'types' => false,
        'attributes' => array(
        ),
        'shortcodes' => array(
            array(
                'id' => 'skill_bar',
                'types' => false,
                'attributes' => array('title' => '', 'level' => '', 'numberformat' => '%'),
            ),
        ),
        'editor' => 'adminEditorSkillBars',
    ),
    array(
        'id' => 'fancy_list',
        'group_id' => 'default',
        'name' => __('Fancy List', 'gummfw'),
        'types' => false,
        'attributes' => array(
            
        ),
        'shortcodes' => array(
            array(
                'id' => 'fancy_list_item',
                'types' => false,
                'attributes' => array('title' => ''),
            ),
        ),
        'editor' => 'adminEditorList',
    ),
    array(
        'id' => 'button',
        'group_id' => 'default',
        'name' => __('Button Square', 'gummfw'),
        'types' => array(
            'type-1-1' => __('Square Button Blue', 'gummfw'),
            'type-1-2' => __('Square Button White', 'gummfw'),
            'type-1-3' => __('Square Button Red', 'gummfw'),
            'type-1-4' => __('Square Button Orange', 'gummfw'),
            'type-1-5' => __('Square Button Green', 'gummfw'),
            'type-1-6' => __('Square Button Black', 'gummfw'),
        ),
        'attributes' => array(
            'type' => null,
            'shape' => null,
            'link' => '#',
            'size' => null,
        ),
        'editor' => 'adminEditorButtons',
    ),
    array(
        'id' => 'buttonrnd',
        'group_id' => 'default',
        'name' => __('Button Round', 'gummfw'),
        'types' => array(
            'type-1-1' => __('Rounded Button Blue', 'gummfw'),
            'type-1-2' => __('Rounded Button White', 'gummfw'),
            'type-1-3' => __('Rounded Button Red', 'gummfw'),
            'type-1-4' => __('Rounded Button Orange', 'gummfw'),
            'type-1-5' => __('Rounded Button Green', 'gummfw'),
            'type-1-6' => __('Rounded Button Black', 'gummfw'),
        ),
        'attributes' => array(
            'type' => null,
            'shape' => 'rounded',
            'link' => '#',
            'size' => null
        ),
        'editor' => 'adminEditorButtons',
    ),
    array(
        'id' => 'column',
        'group_id' => 'columns',
        'name' => __('Columns', 'gummfw'),
        'types' => array(
            '1-2' => __('One Half', 'gummfw'),
            '1-3' => __('One Third', 'gummfw'),
            '1-4' => __('One Fourth', 'gummfw'),
            // '1-5' => __('One Fifth', 'gummfw'),
            '1-6' => __('One Sixth', 'gummfw'),
        ),
        'attributes' => array(
            'type' => '',
            'first' => '',
        ),
    ),
    array(
        'id' => 'messagebox',
        'group_id' => 'default',
        'name' => __('Message Boxes', 'gummfw'),
        'types' => array(
            'default' => __('Normal', 'gummfw'),
            'error' => __('Error', 'gummfw'),
            'success' => __('Success', 'gummfw'),
            'info' => __('Info', 'gummfw'),
        ),
        'attributes' => array(
            'type' => ''
        ),
        'editor' => 'adminEditorMessageBoxes',
    ),
    array(
        'id' => 'alertbox',
        'group_id' => 'default',
        'name' => __('Alert Boxes', 'gummfw'),
        'types' => array(
            'default' => __('Normal', 'gummfw'),
            'error' => __('Error', 'gummfw'),
            'success' => __('Success', 'gummfw'),
            'info' => __('Info', 'gummfw'),
        ),
        'attributes' => array(
            'type' => ''
        ),
        'editor' => 'adminEditorMessageBoxes',
    ),
    array(
        'id' => 'divider',
        'group_id' => 'default',
        'name' => __('Dividers', 'gummfw'),
        'types' => array(
            'divide-1' => __('Block', 'gummfw'),
            'divide-2' => __('Dotted', 'gummfw'),
            'divide-3' => __('Striped', 'gummfw'),
            'divide-4' => __('Block (soft)', 'gummfw'),
        ),
        'attributes' => array(
            'type' => 'divide-1'
        ),
        'editor' => 'adminEditorDividers',
    ),
    array(
        'id' => 'magnifyingGlass',
        'group_id' => 'default',
        'name' => __('Magnifying Glass', 'gummfw'),
        'types' => false,
        'attributes' => array(
            'largeurl' => '',
            'smallurl' => '',
            'glasssize' => 200,
            'imgtitle' => '',
        ),
        'editor' => 'adminEditorMagnifyingGlass',
    ),
    array(
        'id' => 'lbimg',
        'group_id' => 'default',
        'name' => __('LightBox Image', 'gummfw'),
        'types' => false,
        'attributes' => array(
            'largeurl' => '',
            'smallurl' => '',
            'imgtitle' => '',
        ),
        'editor' => 'adminEditorLightBoxImage',
    ),
    array(
        'id' => 'gauge',
        'group_id' => 'default',
        'name' => __('Gauge Chart', 'gummfw'),
        'types' => false,
        'attributes' => array(
            'size' => 30,
            'linewidth' => 5,
            'percent' => 20,
            'color' => 'ed7721',
            'bgcolor' => 'fafafa',
            'textsource' => 'plain',
            'icon' => '',
            'symbol' => '%',
            'iconsize' => 12,
            'symbolsize' => 12,
        ),
        'editor' => 'adminEditorGaugeCircle',
    ),
    // array(
    //     'id' => 'card',
    //     'group_id' => 'default',
    //     'name' => __('Card', 'gummfw'),
    //     'types' => false,
    //     'attributes' => array(
    //     ),
    //     // 'editor' => 'adminEditorMagnifyingGlass',
    // ),
));
?>