
#front-end-preview-panel-triggerer {
    position: absolute;
    right: 360px;
    top: 0;
	text-align:center;
    -webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
    font-size: 26px;
    line-height: 54px;
	padding:3px 0;
	width:60px;
	height:54px;
    color:#000;
    z-index: 20;
	background-color:rgba(255, 255, 255, 0.4);
	-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255, 255, 255, 0.3), 0px 0px 1px 0px rgba(0, 0, 0, 0.8);
	-moz-box-shadow:inset 0px 0px 0px 1px rgba(255, 255, 255, 0.3), 0px 0px 1px 0px rgba(0, 0, 0, 0.8);
	box-shadow:inset 0px 0px 0px 1px rgba(255, 255, 255, 0.3), 0px 0px 1px 0px rgba(0, 0, 0, 0.8);
	-webkit-transition:color 0.1s linear, background-color 0.1s linear, box-shadow 0.1s linear;
	-moz-transition:color 0.1s linear, background-color 0.1s linear, box-shadow 0.1s linear;
	-o-transition:color 0.1s linear, background-color 0.1s linear, box-shadow 0.1s linear;
	transition:color 0.1s linear, background-color 0.1s linear, box-shadow 0.1s linear;
}

#front-end-preview-panel-triggerer:hover {
	background-color:rgba(255, 255, 255, 0.9);
}

#front-end-preview-panel-closer {
	background-color:#e65a5a;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	position:absolute;
	right:7px;
	top:7px;
	height:14px;
	width:15px;
	color:#fff;
	text-align:center;
	font-size:12px;
	line-height:14px;
	padding:1px 0;
	text-transform: lowercase;
	font-weight:bold;
	-webkit-box-shadow:inset 0px 0px 0 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:inset 0px 0px 0 1px rgba(0, 0, 0, 0.3);
	-o-box-shadow:inset 0px 0px 0 1px rgba(0, 0, 0, 0.3);
	-ms-box-shadow:inset 0px 0px 0 1px rgba(0, 0, 0, 0.3);
	box-shadow:inset 0px 0px 0 1px rgba(0, 0, 0, 0.3);
}

#front-end-preview-panel-triggerer > span {
    display: block;
	line-height:54px;
}
#front-end-demo-panel.state-opened {
    right: 10px;
}
#front-end-demo-panel.state-opened #front-end-preview-panel-triggerer {
    display: none;
}
.frond-end-demo-panel {
/*  margin:0 auto;*/
    position: fixed;
    right: -340px;
    top: 20px;
	font-family: Arial, Helvetica, sans-serif;
	z-index:9999;
	
	width:300px;
	background-color:#fff;
	/*border:1px solid rgba(0, 0, 0, 0.28);*/
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 1), 0 0 60px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 1), 0 0 60px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0px rgba(0, 0, 0, 0.3);
	-o-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 1), 0 0 60px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0px rgba(0, 0, 0, 0.3);
	-ms-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 1), 0 0 60px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0px rgba(0, 0, 0, 0.3);
	box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 1), 0 0 60px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0px rgba(0, 0, 0, 0.3);
	background-repeat:repeat;
	
	display:none;
}

.frond-end-demo-panel select {
	outline:none !important;
}

.frond-end-demo-panel label {
	color:#000;
}

.frond-end-demo-panel span.panel-heading {
	font-size:12px;
	text-align:center;
	display:block;
	height:30px;
	line-height:30px;
	color:#a5a5a5;
	text-shadow:0 1px 0 rgba(255, 255, 255, 1);
	cursor:move;
}

.frond-end-demo-panel .inner-panel-container {
	margin:0 6px 6px 6px;
	background-color:rgba(0, 0, 0, 0.11);
	-webkit-box-shadow:inset 0 0 1px 0 rgba(0, 0, 0, 0.6), 0 1px 0 0 rgba(255, 255, 255, 1), inset 0 1px 5px 0 rgba(0, 0, 0, 0.36);
	-moz-box-shadow:inset 0 0 1px 0 rgba(0, 0, 0, 0.6), 0 1px 0 0 rgba(255, 255, 255, 1), inset 0 1px 5px 0 rgba(0, 0, 0, 0.36);
	-o-box-shadow:inset 0 0 1px 0 rgba(0, 0, 0, 0.6), 0 1px 0 0 rgba(255, 255, 255, 1), inset 0 1px 5px 0 rgba(0, 0, 0, 0.36);
	-ms-box-shadow:inset 0 0 1px 0 rgba(0, 0, 0, 0.6), 0 1px 0 0 rgba(255, 255, 255, 1), inset 0 1px 5px 0 rgba(0, 0, 0, 0.36);
	box-shadow:inset 0 0 1px 0 rgba(0, 0, 0, 0.6), 0 1px 0 0 rgba(255, 255, 255, 1), inset 0 1px 5px 0 rgba(0, 0, 0, 0.36);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	-ms-border-radius:2px;
	border-radius:2px;
	min-height:75px;
	padding-bottom:1px;
}

.frond-end-demo-panel strong.demo-accordion-header {
	display:block;
	position:relative;
	background-color:#f9f9f9;
	background-position:19px 19px, left top;
	background-repeat:no-repeat;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	-ms-border-radius:2px;
	border-radius:2px;
	border:1px solid rgba(0, 0, 0, 0.3);
	border-top:1px solid rgba(0, 0, 0, 0.2);
	border-bottom:1px solid rgba(0, 0, 0, 0.06);
	-webkit-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 1), 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 1), 0 1px 2px rgba(0, 0, 0, 0.1);
	-o-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 1), 0 1px 2px rgba(0, 0, 0, 0.1);
	-ms-box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 1), 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 1px 0 0 rgba(255, 255, 255, 1), 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-transition:color 0.1s linear, background-color 0.1s linear, background-image 0.1s linear;
	-moz-transition:color 0.1s linear, background-color 0.1s linear, background-image 0.1s linear;
	-o-transition:color 0.1s linear, background-color 0.1s linear, background-image 0.1s linear;
	-ms-transition:color 0.1s linear, background-color 0.1s linear, background-image 0.1s linear;
	transition:color 0.1s linear, background-color 0.1s linear, background-image 0.1s linear;
}

.frond-end-demo-panel strong.demo-accordion-header:hover {
	background-color:#fff;
}

.frond-end-demo-panel strong.demo-accordion-header.layout {
	background-image: url(../../../images/roki/admin-frontpanel-layout.png), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.06)), to(rgba(0, 0, 0, 0.06)));
}

.frond-end-demo-panel strong.demo-accordion-header.layout a:active {
	background-color:#fff;
	background-image: url(../../../images/roki/admin-frontpanel-layout.png), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.03)), to(rgba(0, 0, 0, 0.06)));
	background-position:19px 19px, left top;
	background-repeat:no-repeat;
}

.frond-end-demo-panel strong.demo-accordion-header.skins {
	background-image: url(../../../images/roki/admin-frontpanel-skins.png), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.06)), to(rgba(0, 0, 0, 0.06)));
}

.frond-end-demo-panel strong.demo-accordion-header.skins a:active {
	background-color:#fff;
	background-image: url(../../../images/roki/admin-frontpanel-skins.png), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.03)), to(rgba(0, 0, 0, 0.06)));
	background-position:19px 19px, left top;
	background-repeat:no-repeat;
}

.frond-end-demo-panel strong.demo-accordion-header.colors {
	background-image: url(../../../images/roki/admin-frontpanel-colors.png), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.06)), to(rgba(0, 0, 0, 0.06)));
}

.frond-end-demo-panel strong.demo-accordion-header.colors a:active {
	background-color:#fff;
	background-image: url(../../../images/roki/admin-frontpanel-colors.png), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.03)), to(rgba(0, 0, 0, 0.06)));
	background-position:19px 19px, left top;
	background-repeat:no-repeat;
}

.frond-end-demo-panel strong.demo-accordion-header.font {
	background-image: url(../../../images/roki/admin-frontpanel-font.png), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.06)), to(rgba(0, 0, 0, 0.06)));
}

.frond-end-demo-panel strong.demo-accordion-header.font a:active {
	background-color:#fff;
	background-image: url(../../../images/roki/admin-frontpanel-font.png), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.03)), to(rgba(0, 0, 0, 0.06)));
	background-position:19px 19px, left top;
	background-repeat:no-repeat;
}

.frond-end-demo-panel strong.demo-accordion-header.background {
	background-image: url(../../../images/roki/admin-frontpanel-background.png), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.03)), to(rgba(0, 0, 0, 0.06)));
}

.frond-end-demo-panel strong.demo-accordion-header.navigation {
	background-image: url(../../../images/roki/admin-frontpanel-navigation.png), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.03)), to(rgba(0, 0, 0, 0.06)));
	background-position:left top;
}

.frond-end-demo-panel strong.demo-accordion-header.background a:active {
	background-color:#fff;
	background-image: url(../../../images/roki/admin-frontpanel-background.png), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.03)), to(rgba(0, 0, 0, 0.06)));
	background-position:19px 19px, left top;
	background-repeat:no-repeat;
}

.frond-end-demo-panel a.demo-accordion-header-link {
	text-decoration:none;
	color:#000;
	font-weight:normal;
	font-size:18px;
	text-shadow:0 1px 0 rgba(255, 255, 255, 1);
	line-height:20px;
	padding:20px 20px 20px 60px;
	display:block;
}

.frond-end-demo-panel strong.demo-accordion-header.current,
.frond-end-demo-panel strong.demo-accordion-header:last-child {
	border-bottom:1px solid rgba(0, 0, 0, 0.4);
}

.frond-end-demo-panel strong.demo-accordion-header span {
	position:absolute;
	width:24px;
	display:block;
	height:25px;
	right:18px;
	top:50%;
	margin-top:-12px;
	background-image:url(../../../images/roki/admin-frontpanel-bullet.png);
	background-repeat:no-repeat;
	background-position:right top;
	opacity:0.6;
	-webkit-transition:opacity 0.1s linear;
	-moz-transition:opacity 0.1s linear;
	-o-transition:opacity 0.1s linear;
	-ms-transition:opacity 0.1s linear;
	transition:opacity 0.1s linear;
}

.frond-end-demo-panel strong.demo-accordion-header.current span {
	background-image:url(../../../images/roki/admin-frontpanel-bullet-current.png);
	opacity:0.8;
}

.frond-end-demo-panel strong.demo-accordion-header:hover span {
	opacity:1;
}

.front-end-demo-panel-content {
    position: relative;
    overflow: hidden;
/*  padding:20px;*/
	/*display:none;*/
}
.front-end-demo-panel-inner-content {
    position: relative;
    overflow: auto;
    padding: 20px;
    max-height: 240px;
}

a.layout-preview-option {
	width:70px;
	height:93px;
	float:left;
	margin-right:19px;
	display:block;
}

a.layout-preview-option span.container {
	background-color:rgba(0, 0, 0, 0.26);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	-ms-border-radius:2px;
	border-radius:2px;
	-webkit-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.26), inset 0 0 0 1px rgba(0, 0, 0, 0.26), 0 1px 0 0 rgba(255, 255, 255, 0.26);
	-moz-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.26), inset 0 0 0 1px rgba(0, 0, 0, 0.26), 0 1px 0 0 rgba(255, 255, 255, 0.26);
	-o-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.26), inset 0 0 0 1px rgba(0, 0, 0, 0.26), 0 1px 0 0 rgba(255, 255, 255, 0.26);
	-ms-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.26), inset 0 0 0 1px rgba(0, 0, 0, 0.26), 0 1px 0 0 rgba(255, 255, 255, 0.26);
	box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.26), inset 0 0 0 1px rgba(0, 0, 0, 0.26), 0 1px 0 0 rgba(255, 255, 255, 0.26);
	display:block;
	height:100%;
	float:left;
	width:70px;
	opacity:0.6;
	-webkit-transition:opacity 0.1s linear;
	-moz-transition:opacity 0.1s linear;
	-o-transition:opacity 0.1s linear;
	-ms-transition:opacity 0.1s linear;
	transition:opacity 0.1s linear;
}

a.layout-preview-option.current span.container {
	background-color:#66a8f2;
	-webkit-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.42), inset 0 2px 0 0 rgba(255, 255, 255, 0.46);
	-moz-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.42), inset 0 2px 0 0 rgba(255, 255, 255, 0.46);
	-o-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.42), inset 0 2px 0 0 rgba(255, 255, 255, 0.46);
	-ms-box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.42), inset 0 2px 0 0 rgba(255, 255, 255, 0.46);
	box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.42), inset 0 2px 0 0 rgba(255, 255, 255, 0.46);
	opacity:1;
	-webkit-transition:background-color 0.1s linear;
	-moz-transition:background-color 0.1s linear;
	-o-transition:background-color 0.1s linear;
	-ms-transition:background-color 0.1s linear;
	transition:background-color 0.1s linear;
}

a.layout-preview-option span.container.content {
	width:45px;
}

a.layout-preview-option span.container.sidebar {
	width:22px;
}

a.layout-preview-option span.container.first {
	margin-right:3px;
}

a.layout-preview-option:hover span.container {
	opacity:0.9;
}

a.layout-preview-option:active span.container {
	opacity:1;
}

a.layout-preview-option:hover.current span.container {
	background-color:#499fff;
	opacity:1;
}

/* colors list */

ul.colors-options {
	list-style-type:none;
	padding:0;
	margin:0;
}

ul.colors-options li {
	display:block;
	height:30px;
	background-color:rgba(0, 0, 0, 0);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	-ms-border-radius:2px;
	border-radius:2px;
	-webkit-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0), inset 0 0 0 1px rgba(0, 0, 0, 0), 0 1px 0 0 rgba(255, 255, 255, 0);
	-moz-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0), inset 0 0 0 1px rgba(0, 0, 0, 0), 0 1px 0 0 rgba(255, 255, 255, 0);
	-o-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0), inset 0 0 0 1px rgba(0, 0, 0, 0), 0 1px 0 0 rgba(255, 255, 255, 0);
	-ms-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0), inset 0 0 0 1px rgba(0, 0, 0, 0), 0 1px 0 0 rgba(255, 255, 255, 0);
	box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0), inset 0 0 0 1px rgba(0, 0, 0, 0), 0 1px 0 0 rgba(255, 255, 255, 0);
	-webkit-transition:opacity 0.1s linear, background-color 0.1s linear, box-shadow 0.1s linear;
	-moz-transition:opacity 0.1s linear, background-color 0.1s linear, box-shadow 0.1s linear;
	-o-transition:opacity 0.1s linear, background-color 0.1s linear, box-shadow 0.1s linear;
	-ms-transition:opacity 0.1s linear, background-color 0.1s linear, box-shadow 0.1s linear;
	transition:opacity 0.1s linear, background-color 0.1s linear, box-shadow 0.1s linear;
	cursor:pointer;
	position:relative;
	padding:6px 6px 6px 42px;
	margin-bottom:6px;
}

ul.colors-options li.current,
ul.colors-options li.current:hover {
	background-color:rgba(0, 0, 0, 0.26);
	-webkit-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.26), inset 0 0 0 1px rgba(0, 0, 0, 0.26), 0 1px 0 0 rgba(255, 255, 255, 0.26);
	-moz-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.26), inset 0 0 0 1px rgba(0, 0, 0, 0.26), 0 1px 0 0 rgba(255, 255, 255, 0.26);
	-o-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.26), inset 0 0 0 1px rgba(0, 0, 0, 0.26), 0 1px 0 0 rgba(255, 255, 255, 0.26);
	-ms-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.26), inset 0 0 0 1px rgba(0, 0, 0, 0.26), 0 1px 0 0 rgba(255, 255, 255, 0.26);
	box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.26), inset 0 0 0 1px rgba(0, 0, 0, 0.26), 0 1px 0 0 rgba(255, 255, 255, 0.26);
}

ul.colors-options li span.tick {
	display:block;
	height:42px;
	width:42px;
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	background-image:url(../../../images/roki/admin-frontpanel-color-tick.png);
	background-position:left top;
	background-repeat:no-repeat;
	opacity:0;
	-webkit-transition:opacity 0.1s linear;
	-moz-transition:opacity 0.1s linear;
	-o-transition:opacity 0.1s linear;
	-ms-transition:opacity 0.1s linear;
	transition:opacity 0.1s linear;
}

ul.colors-options li.current span.tick {
	background-position:left -42px;
	opacity:1;
}

ul.colors-options li.current:hover span.tick {
	opacity:1;
}

ul.colors-options li:hover {
	background-color:rgba(0, 0, 0, 0.09);
	-webkit-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.09), inset 0 0 0 1px rgba(0, 0, 0, 0.09), 0 1px 0 0 rgba(255, 255, 255, 0.09);
	-moz-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.09), inset 0 0 0 1px rgba(0, 0, 0, 0.09), 0 1px 0 0 rgba(255, 255, 255, 0.09);
	-o-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.09), inset 0 0 0 1px rgba(0, 0, 0, 0.09), 0 1px 0 0 rgba(255, 255, 255, 0.09);
	-ms-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.09), inset 0 0 0 1px rgba(0, 0, 0, 0.09), 0 1px 0 0 rgba(255, 255, 255, 0.09);
	box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.09), inset 0 0 0 1px rgba(0, 0, 0, 0.09), 0 1px 0 0 rgba(255, 255, 255, 0.09);
	-webkit-transition:background-color 0s linear, box-shadow 0s linear;
	-moz-transition:background-color 0s linear, box-shadow 0s linear;
	-o-transition:background-color 0s linear, box-shadow 0s linear;
    -ms-transition:background-color 0s linear, box-shadow 0s linear;
	transition:background-color 0s linear, box-shadow 0s linear;
}

ul.colors-options li:active {
	background-color:rgba(0, 0, 0, 0.12);
	-webkit-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.12), inset 0 0 0 1px rgba(0, 0, 0, 0.12), 0 1px 0 0 rgba(255, 255, 255, 0.12);
	-moz-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.12), inset 0 0 0 1px rgba(0, 0, 0, 0.12), 0 1px 0 0 rgba(255, 255, 255, 0.12);
	-o-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.12), inset 0 0 0 1px rgba(0, 0, 0, 0.12), 0 1px 0 0 rgba(255, 255, 255, 0.12);
	-ms-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.12), inset 0 0 0 1px rgba(0, 0, 0, 0.12), 0 1px 0 0 rgba(255, 255, 255, 0.12);
	box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.12), inset 0 0 0 1px rgba(0, 0, 0, 0.12), 0 1px 0 0 rgba(255, 255, 255, 0.12);
}


ul.colors-options li:hover span.tick {
	opacity:0.3;
}

ul.colors-options li div.preview-panel-color-detail {
	width:33.333%;
	float:left;
	height:30px;
	background-color:#099;
}

/* Evgenska rabota */
#front-end-demo-panel-colors-container .preview-panel-color-detail {
    float: left;
    width: 89px;
    height: 65px;
    margin-left: 5px;
    margin-top: 6px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	-ms-border-radius:2px;
	border-radius:2px;
	cursor:pointer;
	background-image:url(../../../images/roki/demo-panel-picker.png);
	background-position:right bottom;
	background-repeat:no-repeat;
	-webkit-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.06);
	-moz-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.06);
	-o-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.06);
	-ms-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.06);
	box-shadow:0 0 0 1px rgba(0, 0, 0, 0.06);
}

#front-end-demo-panel-colors-container .preview-panel-color-detail:last-child {
    margin: 6px 0 0 6px;
}

.front-end-demo-panel-layout-width-setttings {
    float: left;
	overflow:hidden;
	padding: 10px 20px 10px 20px;
}
#layout-width-slider {
    width: 200px;
}

.ui-slider { 
	position: relative;
	text-align: left;
	/*border: 1px solid #b7b7b7;
	border-top: 1px solid #a6a6a6;
	border-bottom: 1px solid #cccccd;*/
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-o-border-radius:20px;
	-ms-border-radius:20px;
	border-radius:20px;
	-webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
	-o-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
	-ms-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
	box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
	cursor:pointer;
	
	background-color: rgba(0, 0, 0, 0.09);
	
	-webkit-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.26), inset 0 0 0 1px rgba(0, 0, 0, 0.26), 0 1px 0 0 rgba(255, 255, 255, 0.26);
	-moz-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.26), inset 0 0 0 1px rgba(0, 0, 0, 0.26), 0 1px 0 0 rgba(255, 255, 255, 0.26);
	-o-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.26), inset 0 0 0 1px rgba(0, 0, 0, 0.26), 0 1px 0 0 rgba(255, 255, 255, 0.26);
	-ms-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.26), inset 0 0 0 1px rgba(0, 0, 0, 0.26), 0 1px 0 0 rgba(255, 255, 255, 0.26);
	box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.26), inset 0 0 0 1px rgba(0, 0, 0, 0.26), 0 1px 0 0 rgba(255, 255, 255, 0.26);
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 19px;
	height: 20px;
	outline:none !important;
}

.ui-slider .ui-slider-handle.ui-state-default {
	background-image:url(images/ui-slide-sprite.png);
	background-position:left top;
	background-repeat:no-repeat;
}

.ui-slider .ui-slider-handle.ui-state-hover {
	background-image:url(images/ui-slide-sprite.png);
	background-position:left -20px;
	background-repeat:no-repeat;
}

.ui-slider .ui-slider-handle.ui-state-active {
	background-image:url(images/ui-slide-sprite.png);
	background-position:left -40px;
	background-repeat:no-repeat;
}

.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

.ui-slider-horizontal {
	height: 6px;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -7px;
	margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 80px;
}

.ui-slider-vertical .ui-slider-handle {
	left: -.6em;
	margin-left: 0;
	margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}

.gumm-slider-label {
    position: relative;
	margin:10px 0 10px -18px;
	border:1px solid #c4c4c4;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #a5a5a5;
	font-size:11px;
	color:#848484;
	text-shadow: 0 1px 0 #fff;
	-moz-text-shadow: 0 1px 0 #fff;
	-webkit-text-shadow: 0 1px 0 #fff;
	-o-text-shadow: 0 1px 0 #fff;
	-ms-text-shadow: 0 1px 0 #fff;
	padding:2px;
	width:36px;
	background-color:#fafafa;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	border-radius:4px;
	text-align:center;
}
select#front-end-layout-style-chooser {
    width: 200px;
}

@media (max-width: 767px) {
	#front-end-preview-panel-triggerer {
		display:none;
	}
}