html,
body {
	height:100%;
	margin:0;
	padding:0;
	
	font-size:12px;
	line-height:1.4em;
	font-family:Arial, Helvetica, sans-serif;
}

body {
	font-size:12px;
	line-height:1.4em;
}

.checkbox {
	background:transparent !important;
}

#bluebox-admin {
	height:100%;
	margin: 0;
	padding: 0;
	min-width:600px;
}

#bluebox-admin > div {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

#bluebox-admin #admin-wrap {
	height: auto;
	min-height: 100%;
	width: 100%;
	position: relative;
	background-color:#fafafa;
	border:1px solid #dfdfdf;
}

/* BEGIN toolbar menu */

.bluebox-admin .inner-toolbar-menu,
.bluebox-admin .admin-content-builder {
	min-height:82px;
	padding:4px;
	background-color:rgba(0, 0, 0, 0.03);
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	margin-bottom:20px;
	-moz-box-shadow:inset 0 0 4px rgba(0, 0, 0, 0.06),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
	-webkit-box-shadow:inset 0 0 4px rgba(0, 0, 0, 0.06),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
	box-shadow:inset 0 0 4px rgba(0, 0, 0, 0.06),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
}

.bluebox-admin .inner-toolbar-menu ul {
	margin:0;
	padding:0;
	display:block;
}

.bluebox-admin .inner-toolbar-menu ul li {
	float:left;
	display:inline-block;
	margin-right:4px;
}

.bluebox-admin .inner-toolbar-menu ul li:last-child {
	margin-right:0;
}

.bluebox-admin .inner-toolbar-menu ul li a {
	display:inline-block;
	height:82px;
	width:92px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	position:relative;
	z-index:5;
	text-align:center;
}

.bluebox-admin .inner-toolbar-menu ul li.current-item a,
.bluebox-admin .inner-toolbar-menu ul li a:hover {
	background-color:#fff;
	-moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
	-webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
}

.bluebox-admin .inner-toolbar-menu ul li.current-item a:before {
	content:'';
	display:block;
	position:absolute;
	z-index:4;
	bottom:-9px;
	width:0;
	height:0;
	left:50%;
	margin-left:-9px;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	
	border-top: 9px solid rgba(0, 0, 0, 0.09);
}

#bluebox-admin .inner-toolbar-menu ul li.current-item a:after {
	content:'';
	display:block;
	position:absolute;
	z-index:4;
	bottom:-7px;
	width:0;
	height:0;
	left:50%;
	margin-left:-7px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	
	border-top: 7px solid #fff;
}

#bluebox-admin .inner-toolbar-menu ul li a strong {
	padding-top:0;
	position:absolute;
	top:16px;
	right:0px;
	left:0px;
	width:100%;
	text-align:center;
	font-size:32px;
}

#bluebox-admin .inner-toolbar-menu ul li a span {
	display:inline-block;
	font-size:11px;
	margin:60px 4px 0 4px;
	line-height:16px;
	text-decoration:none;
}

#bluebox-admin .inner-toolbar-menu ul li a:hover span,
#bluebox-admin .inner-toolbar-menu ul li a:hover strong {
	text-decoration:none;
}

/* END toolbar menu */

#bluebox-admin .admin-options-group {
	background-color:#fff;
	padding:26px 20px 20px 20px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
	-webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
	margin:0 0 20px 0;
	position:relative;
}

#bluebox-admin .admin-options-group > h4 {
	margin-top:0;
	margin-bottom:20px;
	font-weight:normal;
	display:inline-block;
	position:relative;
}

#bluebox-admin .admin-options-group > h4 > a {
	display:inline-block;
	height:20px;
	width:20px;
	text-align:center;
	background-color:rgba(0, 0, 0, 0.03);
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%;
	position:absolute;
	right:-30px;
	top:0px;
	font-weight:normal;
	line-height:20px;
	font-size:12px;
	text-decoration:none;
	color:rgba(0, 0, 0, 0.16);
}

#bluebox-admin .admin-options-group > h4 > a:hover {
	color:#fff;
	background-color:#66a8f2;
}

.bluebox-admin .admin-options-group .admin-fieldset,
.bluebox-admin .bb-option-row .admin-fieldset {
	border:1px solid #dfdfdf;
	padding:40px 20px 20px 20px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	position:relative;
}

.bluebox-admin span.after-detail {
	position:absolute;
	top:-1px;
	left:-1px;
	display:inline-block;
	padding:2px 4px;
	font-size:11px;
	line-height:20px;
	-webkit-border-radius: 2px 0 2px 0;
	-moz-border-radius: 2px 0 2px 0;
	border-radius: 2px 0 2px 0;
	border:1px solid #dfdfdf;
	background-color:#fafafa;
	color:rgba(0, 0, 0, 0.5);
}

.bluebox-admin textarea.admin-textarea-full {
	width:50%;
}

.bluebox-admin .admin-options-group .admin-fieldset.first-image,
.bluebox-admin .admin-options-group .admin-fieldset.second-image,
.bluebox-admin .admin-options-group .admin-fieldset.third-image,
.bluebox-admin .admin-options-group .admin-fieldset.fourth-image,
.bluebox-admin .admin-options-group .admin-fieldset.fifth-image,
.bluebox-admin .admin-options-group .admin-fieldset.sixth-image {
	margin-bottom:20px;
}

.bluebox-admin .background-image-preview {
	position:relative;
	padding-top:50%;
	background-image:url(admin-images/bg-transparent.gif);
}

.bluebox-admin .btn-admin-top-right {
	margin:20px 20px 0 0;
}

.bluebox-admin .btn-admin-top-right-bottom {
	margin:20px 20px 20px 0 !important;
}

.bluebox-admin .btn-admin-right-bottom {
	margin:0 20px 20px 0 !important;
}

.bluebox-admin .btn-admin-right {
	margin:0 20px 0 0 !important;
}

.bluebox-admin .admin-close-button {
	display:inline-block;
	height:20px;
	width:20px;
	text-align:center;
	background-color:rgba(0, 0, 0, 0.3);
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%;
	position:absolute;
	border:2px solid rgba(255, 255, 255, 1);
	z-index:20;
	right:-10px;
	top:-10px;
	line-height:20px;
	font-size:16px;
	text-decoration:none;
	text-transform: lowercase;
	font-weight: bold;
	color:rgba(255, 255, 255, 1);
}

.bluebox-admin .admin-close-button:hover {
	background-color:rgba(0, 0, 0, 1);
	color:rgba(255, 255, 255, 1);
	text-decoration:none;
}

.bluebox-admin .admin-options-group .admin-fieldset.current-font-family {
	font-size:36px;
}

.bluebox-admin .color-palette {
	position:relative;
	padding-top:100%;
	cursor:pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.06), 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.06), 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
	-o-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.06), 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
	-ms-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.06), 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
	box-shadow:0 0 0 1px rgba(0, 0, 0, 0.06), 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
	background-image:url(admin-images/bg-transparent.gif);
}

.bluebox-admin .color-palette > div {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-image:url(admin-images/demo-panel-picker.png);
	background-position:right bottom;
	background-repeat:no-repeat;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.bluebox-admin .admin-options-group:last-child {
	margin-bottom:0;
}

/* BEGIN theme skins */

#bluebox-admin .table.table-hover tbody tr > td {
	line-height:36px;
}

#bluebox-admin .table tbody tr.info > td,
#bluebox-admin .table tbody tr.info:hover > td,
#bluebox-admin .table tbody tr.info > td a {
	background-color:#66a8f2;
	color:#fff;
}

#bluebox-admin .table tbody td a.inactive {
	font-size:24px;
	color:rgba(0, 0, 0, 0.3);
}

#bluebox-admin .table tbody td a.active,
#bluebox-admin .table tbody td a.active:hover {
	font-size:24px;
	color:#fff;
	margin-right:20px;
	cursor:default;
}

#bluebox-admin .table tbody td a.inactive:hover {
	text-decoration:none;
	color:rgba(0, 0, 0, 0.5);
}

#bluebox-admin .table.table-hover tbody td a {
	line-height:32px;
	font-size:24px;
	margin-right:20px;
}

#bluebox-admin .table tbody td a:hover {
	text-decoration:none;
}

#bluebox-admin .scrollable-table-container {
    max-height:250px;
    overflow-y:scroll;
}

#bluebox-admin .admin-skin-color-preview {
	display:inline-block;
	height:20px;
	width:20px;
	margin-bottom:-7px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	margin-right:4px;
	-webkit-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.06), 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.06), 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
	-o-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.06), 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
	-ms-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.06), 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
	box-shadow:0 0 0 1px rgba(0, 0, 0, 0.06), 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
}

/* END theme skins */

/* BEGIN ui slides */

.bluebox-admin #amount {
border: 0;
box-shadow: none;
width: 100px;
}

.bluebox-admin .ui-slider-horizontal,
.ui_tpicker_hour_slider.ui-slider.ui-slider-horizontal,
.ui_tpicker_minute_slider.ui-slider.ui-slider-horizontal {
height: 8px;
position: relative;
text-align: left;
margin-top: 5px;
margin-bottom: 5px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
color: #222222;
background-color: rgba(0, 0, 0, 0.03);
-moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.06),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.06),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.06),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
font-size: 1.1em;
}

.bluebox-admin .ui-slider-horizontal .ui-slider-handle,
.ui-slider-handle.ui-state-default {
top: -.3em;
margin-left: -.6em;
position: absolute;
z-index: 2;
width: 22px;
height: 8px;
cursor:pointer;
margin-top: -3px;
font-weight: normal;
width: 20px;
height: 20px;

-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
background-color:#f2f2f2;
border:1px solid #c0c0c0;
outline: none;
}

.bluebox-admin .ui-slider-horizontal .ui-slider-handle:after,
.ui-slider-handle.ui-state-default:after {
	content:"";
	top:7px;
	right:7px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	background-color:#6f6f6f;
	position:absolute;
	height:6px;
	width:6px;
}

.bluebox-admin .ui-slider-horizontal .ui-slider-handle:hover:after,
.ui-slider-handle.ui-state-default:hover:after {
	background-color:#66a8f2;
}

.bluebox-admin .gumm-slider-input-wrapper {
    position:relative;
}
.bluebox-admin .gumm-slider-input-wrapper .popover {
    display:none;
    top: -48px;
    width:70px;
    text-align:center;
}

.bluebox-admin .input-wrap.wrap-number:hover .gumm-slider-input-wrapper .popover {
    display:block;
}

.bluebox-admin .gumm-slider-input-wrapper.gumm-slider-horizontal {
    margin-top: 10px;
}

/* END ui slides */

/* BEGIN layout demo */

.bluebox-admin .admin-layout-demo {
	position:relative;
	padding-top:160%;
	background-color:#f00;
	background-color:#fff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.03), 0px 0px 9px 0px rgba(0, 0, 0, 0.16);
	-moz-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.03), 0px 0px 9px 0px rgba(0, 0, 0, 0.16);
	-o-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.03), 0px 0px 9px 0px rgba(0, 0, 0, 0.16);
	-ms-box-shadow:0 0 0 1px rgba(0, 0, 0, 0.03), 0px 0px 9px 0px rgba(0, 0, 0, 0.16);
	box-shadow:0 0 0 1px rgba(0, 0, 0, 0.03), 0px 0px 9px 0px rgba(0, 0, 0, 0.16);
}
.bluebox-admin.gumm-admin-metabox .admin-layout-demo {
    padding-top:200%;
}

.bluebox-admin .admin-layout-demo.current {
	position:relative;
	background-color:#f00;
	background-color:#fff;
}

.bluebox-admin .admin-layout-demo > .layout-preview {
	position:absolute;
	top:4px;
	left:4px;
	right:4px;
	bottom:90px;
}

.bluebox-admin .admin-layout-demo > .layout-preview > .content-wrap-demo,
.bluebox-admin .admin-layout-demo > .layout-preview > .sidebar-wrap-demo {
	position:relative;
	float:left;
	height:100%;
}

.bluebox-admin .admin-layout-demo > .layout-preview > .content-wrap-demo > span,
.bluebox-admin .admin-layout-demo > .layout-preview > .sidebar-wrap-demo > span {
	background-color:rgba(0, 0, 0, 0.06);
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	display:block;
	height:100%;
	border-radius:2px;
	margin-bottom:20px;
	-moz-box-shadow:inset 0 0 4px rgba(0, 0, 0, 0.06),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
	-webkit-box-shadow:inset 0 0 4px rgba(0, 0, 0, 0.06),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
	box-shadow:inset 0 0 4px rgba(0, 0, 0, 0.06),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
}

.bluebox-admin .admin-layout-demo > .layout-preview > .content-wrap-demo {
	width:70%;
}

.bluebox-admin .admin-layout-demo > .layout-preview > .content-wrap-demo.full-demo {
	width:100%;
}

.bluebox-admin .admin-layout-demo > .layout-preview > .sidebar-wrap-demo {
	width:30%;
}

.bluebox-admin .admin-layout-demo label {
	font-size:12px;
	display:block;
	position:absolute;
	left:0;
	right:0;
	bottom:50px;
	text-align:center;
}

.bluebox-admin .admin-layout-demo .admin-radio {
	position:absolute;
	bottom:20px;
	left:50%;
	margin-left:-15px;
}

/* END layout demo */

/* BEGIN radio input */

.bluebox-admin .gumm-radio-input .admin-radio {
	height:16px;
	width:16px;
	padding:7px;
	display:block;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%;
	background-color:rgba(0, 0, 0, 0.06);
	-moz-box-shadow:inset 0 0 4px rgba(0, 0, 0, 0.06),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.09), inset 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow:inset 0 0 4px rgba(0, 0, 0, 0.06),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.09), inset 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
	box-shadow:inset 0 0 4px rgba(0, 0, 0, 0.06),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.09), inset 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
.bluebox-admin .gumm-radio-input.current,
#bluebox-admin .gumm-radio-input.current {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0px 0px 0px 4px #66a8f2;
	-moz-box-shadow:0px 0px 0px 4px #66a8f2;
	-o-box-shadow:0px 0px 0px 4px #66a8f2;
	-ms-box-shadow:0px 0px 0px 4px #66a8f2;
	box-shadow:0px 0px 0px 4px #66a8f2;
}
.bluebox-admin .gumm-radio-input .admin-radio > span {
	height:16px;
	width:16px;
	display:block;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%;
	background-color:rgba(0, 0, 0, 0.06);
	-moz-box-shadow:inset 0 0 4px rgba(0, 0, 0, 0.06),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.09), inset 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow:inset 0 0 4px rgba(0, 0, 0, 0.06),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.09), inset 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
	box-shadow:inset 0 0 4px rgba(0, 0, 0, 0.06),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.09), inset 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
.bluebox-admin .gumm-radio-input .admin-radio:hover {
	background-color:rgba(0, 0, 0, 0.09);
}

.bluebox-admin .gumm-radio-input .admin-radio:hover > span {
	background-color:rgba(0, 0, 0, 0.09);
}
.bluebox-admin .gumm-radio-input .admin-radio:active {
	background-color:rgba(0, 0, 0, 0.16);
}
.bluebox-admin .gumm-radio-input .admin-radio:active > span {
	background-color:#66a8f2;
}
.bluebox-admin .gumm-radio-input.current .admin-radio > span {
	background-color:#66a8f2;
	-moz-box-shadow:inset 0 0 -4px rgba(0, 0, 0, 0.06),inset 0px -1px 1px 0px rgba(0, 0, 0, 0.09), inset 0px -3px 6px 0px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow:inset 0 0 -4px rgba(0, 0, 0, 0.06),inset 0px -1px 1px 0px rgba(0, 0, 0, 0.09), inset 0px -3px 6px 0px rgba(0, 0, 0, 0.16);
	box-shadow:inset 0 0 -4px rgba(0, 0, 0, 0.06),inset 0px -1px 1px 0px rgba(0, 0, 0, 0.09), inset 0px -3px 6px 0px rgba(0, 0, 0, 0.16);
}
.bluebox-admin .gumm-radio-input.current .admin-radio:active > span {
	background-color:rgba(0, 0, 0, 0.16);
	-moz-box-shadow:inset 0 0 4px rgba(0, 0, 0, 0.06),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.09), inset 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow:inset 0 0 4px rgba(0, 0, 0, 0.06),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.09), inset 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
	box-shadow:inset 0 0 4px rgba(0, 0, 0, 0.06),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.09), inset 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

/* END radio input */

/* BEGIN metabox */

.bluebox-admin .admin-metabox-list {
	margin:0;
	padding:0;
	list-style-type:none;
}

.bluebox-admin .admin-metabox-image {
	background-color:#fff;
	display:inline-block;
	cursor:move;
	padding:4px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
	-webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
	margin:0 0 20px 0;
	position:relative;
	margin:0 20px 20px 0;
}

.bluebox-admin a.admin-element-edit{
	display:none;
	height:30px;
	width:30px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #fff;
	background-color:rgba(255, 255, 255, 0.6);
	line-height:30px;
	text-align:center;
	font-size:24px;
	position:absolute;
	z-index:11;
	bottom:8px;
	left:8px;
}

.bluebox-admin .admin-metabox-image:hover a.admin-element-edit{
	display:inline-block;
}

.bluebox-admin .admin-metabox-image:hover a.admin-element-edit:hover{
	background-color:rgba(255, 255, 255, 0.9);
	text-decoration:none;
}

/* END metabox */

#bluebox-admin #admin-content {
	margin-left: 145px;
	height: 100%;
	margin-bottom:60px;
}

#bluebox-admin .clear {
	clear:both;
	outline:0;
}

/* BEGIN content builder */

#gummbase_page_builder .inside {
	padding:20px 20px 0 20px;
}

#gummbase_layout_schema .inside {
	padding:20px;
}

#gummbase_layout_schema .inside .bluebox-admin .admin-layout-demo label {
	font-size:10px;
}

#gummbase_layout_schema .inside .bluebox-admin .admin-layout-demo .admin-radio {
	bottom:10px;
}

/* BEGIN builder toolbar */

.bluebox-admin .bluebox-bulder-toolbar {
	padding:0 44px;
	position:relative;
/*  height:120px;*/
	background-color:rgba(0, 0, 0, 0.03);
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	margin-bottom:20px;
	-moz-box-shadow:inset 0 0 4px rgba(0, 0, 0, 0.06),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
	-webkit-box-shadow:inset 0 0 4px rgba(0, 0, 0, 0.06),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
	box-shadow:inset 0 0 4px rgba(0, 0, 0, 0.06),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
}

.bluebox-admin .bluebox-bulder-toolbar .content-wrap {
    min-height:128px;
    position:relative;
}
.bluebox-admin .bluebox-bulder-toolbar .scroll-carousel {
	overflow-x:hidden;
	padding:20px 4px;
	top:-16px;
	position:absolute;
	width:100%;
	box-sizing:border-box;
}
.bulder-toolbar-elements-list {
	display:block;
	position:relative;
	width:200%;
	margin:0 !important;
	padding:0 !important;
	float:left;
	list-style-type:none;
}

.bulder-toolbar-elements-list li,
body .builder-toolbar-element.ui-draggable-dragging {
	float:left;
	margin:0 4px 0 0;
	display:inline-block;
	
	height:90px;
	width:90px;
	padding:15px;
	background-color:#fff;
	display:block;
	cursor:move;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.16);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.16);
	position:relative;
}
.bulder-toolbar-elements-list li:active,
body .builder-toolbar-element.ui-draggable-dragging {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    
}

body .builder-toolbar-element.ui-draggable-dragging .admin-close-button,
.bluebox-admin .template-builder-element.ui-resizable-resizing a.admin-element-edit,
.bluebox-admin .template-builder-element.ui-resizable-resizing a.admin-close-button,
.bluebox-admin .template-builder-element.ui-sortable-helper a.admin-element-edit,
.bluebox-admin .template-builder-element.ui-sortable-helper a.admin-close-button,
.bluebox-admin .template-builder-element.ui-sortable-helper .ui-resizable-e {
    display:none !important;
}

.bulder-toolbar-elements-list li.new-sidebar {
	background-color:transparent;
	-moz-box-shadow:inset 0px 0px 0px 2px rgba(0, 0, 0, 0.06);
	-webkit-box-shadow:inset 0px 0px 0px 2px rgba(0, 0, 0, 0.06);
	box-shadow:inset 0px 0px 0px 2px rgba(0, 0, 0, 0.06);
	font-size:36px;
	line-height:91px;
	text-align:center;
	color:rgba(0, 0, 0, 0.1);
	cursor:pointer;
}

.bulder-toolbar-elements-list li.new-sidebar:hover {
	-moz-box-shadow:inset 0px 0px 0px 2px #0088cc;
	-webkit-box-shadow:inset 0px 0px 0px 2px #0088cc;
	box-shadow:inset 0px 0px 0px 2px #0088cc;
	color:#0088cc;
}

.scroll-toolbar-mask {
	position:absolute;
	z-index:30;
	right:43px;
	top:3px;
	bottom:3px;
	height:122px;
	width:60px;
	background: -moz-linear-gradient(left,  rgba(240,240,240,0) 0%, rgba(240,240,240,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(240,240,240,0)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(240,240,240,0) 0%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(240,240,240,0) 0%,rgba(240,240,240,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(240,240,240,0) 0%,rgba(240,240,240,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(240,240,240,0) 0%,rgba(240,240,240,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f0f0f0', endColorstr='#f0f0f0',GradientType=1 ); /* IE6-9 */
	display:block;
}

a.bb-toolbar-arrow {
	width:40px;
	background-color:#fff;
	-moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.16);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.16);
	line-height:121px;
	text-align:center;
	position:absolute;
	display:block;
	top:4px;
	height:120px;
	cursor:pointer;
	font-size:16px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	z-index:31;
}

a.bb-toolbar-arrow.toolbar-prev {
	left:4px;
}

a.bb-toolbar-arrow.toolbar-next {
	right:4px;
}

a.bb-toolbar-arrow:hover {
	text-decoration:none;
}

/* END builder toolbar */

.bluebox-admin .admin-content-builder {
	padding:20px 20px 0 20px;
	min-height:800px;
}

.bluebox-admin .admin-content-builder.drag-available {
	-moz-box-shadow:0px 0px 0px 2px #0088cc, inset 0 0 4px rgba(0, 0, 0, 0.06),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
	-webkit-box-shadow:0px 0px 0px 2px #0088cc, inset 0 0 4px rgba(0, 0, 0, 0.06),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
	box-shadow:0px 0px 0px 2px #0088cc, inset 0 0 4px rgba(0, 0, 0, 0.06),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.09);
	background-image:url(images/drop-here-bg.gif);
	background-position:top left;
	background-repeat:repeat;
}

.bluebox-admin .admin-builder-element,
body .ui-resizable-helper.template-builder-element .admin-builder-element {
	min-height:80px;
	background-color:#fff;
	display:block;
	cursor:move;
	padding:20px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.16);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.16);
	position:relative;
	margin-bottom:20px;
}

.bluebox-admin .template-builder-element .ui-resizable-e,
body .ui-resizable-helper.template-builder-element .ui-resizable-e {
	position:absolute;
	z-index:30 !important;
	right:-10px;
	top:0;
	bottom:20px;
	width:15px;
	cursor:col-resize;
	height:auto !important;
}

.bluebox-admin .template-builder-element .ui-resizable-e:hover,
.bluebox-admin .template-builder-element.ui-resizable-resizing .ui-resizable-e,
body .ui-resizable-helper.template-builder-element .ui-resizable-e {
	/*background-color:rgba(0, 0, 0, 0.04);*/
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(25%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.bluebox-admin .template-builder-element:hover .ui-resizable-e:before ,
.bluebox-admin .template-builder-element.ui-resizable-resizing .ui-resizable-e:before,
body .ui-resizable-helper.template-builder-element .ui-resizable-e:before {
	content:'';
	height:0;
	width:0;
	border-bottom:3px solid transparent;
	border-top:3px solid transparent;
	border-right: 3px solid #000;
	position:absolute;
	top:50%;
	margin-top:-3px;
	right:15px;
}

.bluebox-admin .template-builder-element:hover .ui-resizable-e:after,
.bluebox-admin .template-builder-element.ui-resizable-resizing .ui-resizable-e:after,
body .ui-resizable-helper.template-builder-element .ui-resizable-e:after {
	content:'';
	height:0;
	width:0;
	border-bottom:3px solid transparent;
	border-top:3px solid transparent;
	border-left: 3px solid #000;
	position:absolute;
	top:50%;
	margin-top:-3px;
	left:10px;
}

.bluebox-admin .template-builder-element:hover .ui-resizable-e:hover:before,
.bluebox-admin .template-builder-element.ui-resizable-resizing .ui-resizable-e:before,
body .ui-resizable-helper.template-builder-element .ui-resizable-e:before {
	content:'';
	right:18px;
}

.bluebox-admin .template-builder-element:hover .ui-resizable-e:hover:after,
.bluebox-admin .template-builder-element.ui-resizable-resizing .ui-resizable-e:after,
body .ui-resizable-helper.template-builder-element .ui-resizable-e:after {
	left:13px;
}

.bluebox-admin .admin-builder-element .element-content {
	position:relative;
	z-index:10;
}

.bluebox-admin .admin-builder-element .cols-preview {
	position:absolute;
	top:4px;
	left:4px;
	bottom:4px;
	right:4px;
	z-index:5;
}

.bluebox-admin .admin-builder-element .cols-preview .row-fluid {
	height:100%;
}

.bluebox-admin .admin-builder-element .cols-preview .row-fluid div {
	background-color:#fafafa;
	box-shadow:inset 0px 0px 0px 1px rgba(0, 0, 0, 0.03);
	height:100%;
}

.bluebox-admin .admin-builder-element a.admin-close-button,
.bluebox-admin ul.bulder-toolbar-elements-list > li a.admin-close-button {
	display:none;
	z-index:31;
}

.bluebox-admin .template-builder-element:hover a.admin-close-button,
.bluebox-admin ul.bulder-toolbar-elements-list > li:hover a.admin-close-button,
.bluebox-admin .template-builder-element.active-settings-editor .template-element-settings.bluebox-builder-popup > a.admin-close-button {
	display:inline-block;
}

.bluebox-admin .admin-builder-element h6 {
	margin:0;
}

.bluebox-admin .admin-builder-element a.admin-element-edit{
	border: 1px solid rgba(0, 0, 0, 0.06);
	bottom:16px;
	left:16px;
}

.bluebox-admin .template-builder-element:hover a.admin-element-edit{
	display:inline-block;
}

.bluebox-admin .admin-builder-element:hover a.admin-element-edit:hover{
	background-color:rgba(255, 255, 255, 0.9);
	text-decoration:none;
	border: 1px solid rgba(0, 0, 0, 0.12);
}

/* BEGIN builder popup */

.bluebox-admin .admin-content-builder {
    float:left;
    width:100%;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
	padding:20px 20px 0 20px;
	min-height:820px;
}

.bluebox-admin .header-content-area .admin-content-builder {
    min-height:100px;
}

.bluebox-admin .gumm-page-builder-editor.mode-full .sortable-elements-wrapper {
    width:100%;
    float:left;
    position:relative;
    min-height:800px;
}
.bluebox-admin .gumm-page-builder-editor.mode-full .sortable-elements-wrapper.sortable-elements-header {
    min-height:100px;
}
.bluebox-admin .gumm-page-builder-editor.mode-full .sortable-elements-header > * {
    margin-left:0 !important;
}

.bluebox-admin .gumm-page-builder-editor.mode-full .content-area [class*="span"]:first-child {
    margin-left:2.127659574468085%;
}
.bluebox-admin .gumm-page-builder-editor.mode-full .content-area .bluebox-builder-popup [class*="span"]:first-child {
    margin-left:0;
}

.bluebox-admin .gumm-page-builder-editor.mode-sidebar .header-content-area .admin-content-builder {
    display:none;
}

.bluebox-admin .gumm-page-builder-editor.mode-sidebar .sidebar .admin-builder-element {
    min-height:220px;
}

.bluebox-admin .admin-content-builder .draggable-placeholder {
    list-style:none;
    display:block;
	float:left;
	margin-bottom:20px;
	padding:20px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
    -moz-box-shadow:0px 0px 0px 2px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow:0px 0px 0px 2px rgba(0, 0, 0, 0.16);
    box-shadow:0px 0px 0px 2px rgba(0, 0, 0, 0.16);

}

/* layout no sidebars */
.bluebox-admin .admin-page-builder.layout-schema-none .content-area {
    width:100%;
    margin-left:0;
}
.bluebox-admin .admin-page-builder.layout-schema-none .sidebar {
    display:none;
}
/* layout left sidebar */
.bluebox-admin .admin-page-builder.layout-schema-l-c .right-sidebar {
    display:none;
}
/* layout right sidebar */
.bluebox-admin .admin-page-builder.layout-schema-c-r .left-sidebar {
    display:none;
}
.bluebox-admin .admin-page-builder.layout-schema-c-r .content-area {
    margin-left:0;
}

/* BEGIN builder popup */

.bluebox-admin .bluebox-builder-popup{
	background-color:#fff;
	display:none;
	position:relative;
    cursor:auto;
	padding:20px 0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0px rgba(0, 0, 0, 0.3);
	overflow:visible;
}

.bluebox-admin .template-builder-element.active-settings-editor .bluebox-builder-popup{
    display:block;
    position:fixed;
    left:200px;
    right:200px;
    top:50px;
    bottom:25px;
    z-index:100;
}

.bluebox-admin .template-builder-element.active-settings-editor .bluebox-builder-popup .builder-popup-options {
    position:absolute;
    overflow-y:scroll;
    overflow-x:hidden;
    top:20px;
    left:0;
    right:0;
    bottom:84px;
}
.bluebox-admin .bluebox-builder-popup .builder-buttons-container.options-container {
    position:absolute;
    bottom:0;
}
.bluebox-admin .bluebox-builder-popup .options-container{
	border-bottom:1px solid #ebebeb;
	padding:0 20px 40px 40px;
	margin-bottom:40px;
}

.bluebox-admin .bluebox-builder-popup .options-container:last-child{
	margin-bottom:0px;
	border:none;
}

.bluebox-admin .bluebox-builder-popup .options-container .bb-option-row{
	margin-bottom:20px;
	min-height:20px;
}

.bluebox-admin .bluebox-builder-popup .options-container > h2 {
	margin:0;
	font-weight: normal;
	display:block;
	position: relative;
	font-size: 31.5px !important;
    line-height: 40px !important;
}

.bluebox-admin .bluebox-builder-popup .options-container h5{
	margin:0;
}

.bluebox-admin .bluebox-builder-popup .options-container input[type="text"] {
	margin-bottom:0;
}

/* END builder popup */

/* END content builder */

/* BEGIN admin menu */

#bluebox-admin #admin-menu-back {
	background-image: url(admin-images/menu-shadow.png);
	background-position: top right;
	background-repeat: repeat-y;
	background-color: #ececec;
	border-right:1px solid #ccc;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 145px;
}

#bluebox-admin #admin-menu-wrap {
	background-color: #ececec;
	border-right:1px solid #ccc;
	position: relative;
	float: left;
	width: 145px;
}

#bluebox-admin #admin-menu-shadow {
	background-image: url(admin-images/menu-shadow.png);
	background-position: top right;
	background-repeat: repeat-y;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 6px;
	z-index: 20;
}

#bluebox-admin #admin-menu {
	clear: left;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 145px;
}

#bluebox-admin #admin-menu > li {
	min-height:28px;
	position:relative;
	margin:0;
	padding:0;
}

#bluebox-admin #admin-menu > li > a {
	border-top:1px solid #f9f9f9;
	border-bottom:1px solid #dfdfdf;
	display:inline-block;
	text-decoration:none;
	font-size: 13px;
	font-weight: bold;
	line-height: 30px;
	padding: 0;
	width:135px;
	padding-left:10px;
	min-height:28px;
	color:#21759b;
}

#bluebox-admin #admin-menu > li:hover > a {
	background-color:#e4e4e4;
	color:#d54e21;
}

#bluebox-admin #admin-menu > li:hover > a > div.admin-arrow {
	display:block;
	position:absolute;
	top:1px;
	bottom:1px;
	width:10px;
	right:-1px;
	z-index:95;
	background-color:#e4e4e4;
}

#bluebox-admin #admin-menu > li:hover > a > div.admin-arrow > span {
	width: 0; 
	height: 0; 
	display:block;
	position:absolute;
	top:-1px;
	right:-7px;
	z-index:100;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-left: 8px solid #e4e4e4;
}

#bluebox-admin #admin-menu > li:hover > a > div.admin-arrow:before {
	content:'';
	width: 1px; 
	height: 0; 
	display:block;
	position:absolute;
	top:-1px;
	right:-9px;
	z-index:10;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-left: 8px solid #cecece;
}

#bluebox-admin #admin-menu > li.current-item > a {
	text-shadow: 0 -1px 0 #333;
	color: #fff;
	border-top-color: #808080;
	border-bottom-color: #6d6d6d;
	background: #777;
	background-image: -webkit-gradient(linear,left bottom,left top,from(#6d6d6d),to(#808080));
	background-image: -webkit-linear-gradient(bottom,#6d6d6d,#808080);
	background-image: -moz-linear-gradient(bottom,#6d6d6d,#808080);
	background-image: -o-linear-gradient(bottom,#6d6d6d,#808080);
	background-image: linear-gradient(to top,#6d6d6d,#808080);
}

#bluebox-admin #admin-menu > li.current-item > a > div.admin-arrow,
#bluebox-admin #admin-menu > li.current-item:hover > a > div.admin-arrow {
	background: #777;
	background-image: -webkit-gradient(linear,left bottom,left top,from(#6d6d6d),to(#808080));
	background-image: -webkit-linear-gradient(bottom,#6d6d6d,#808080);
	background-image: -moz-linear-gradient(bottom,#6d6d6d,#808080);
	background-image: -o-linear-gradient(bottom,#6d6d6d,#808080);
	background-image: linear-gradient(to top,#6d6d6d,#808080);
	z-index: 25;
	position: absolute;
	right: 0;
	top:0;
	margin: 0;
	height: 32px;
	width: 6px;
}

#bluebox-admin #admin-menu > li.current-item > a > div.admin-arrow > span,
#bluebox-admin #admin-menu > li.current-item:hover > a > div.admin-arrow > span {
	background: #777;
	background-image: -webkit-gradient(linear,right bottom,left top,from(#6d6d6d),to(#808080));
	background-image: -webkit-linear-gradient(bottom right,#6d6d6d,#808080);
	background-image: -moz-linear-gradient(bottom right,#6d6d6d,#808080);
	background-image: -o-linear-gradient(bottom right,#6d6d6d,#808080);
	background-image: linear-gradient(to top left,#6d6d6d,#808080);
	display: block;
	position: absolute;
	top: 8px;
	left: -2px;
	width: 16px;
	height: 16px;
	-moz-transform: matrix(-0.6,1,0.6,1,0,0);
	-webkit-transform: matrix(-0.6,1,0.6,1,0,0);
	-o-transform: matrix(-0.6,1,0.6,1,0,0);
	-ms-transform: matrix(-0.6,1,0.6,1,0,0);
	transform: matrix(-0.6,1,0.6,1,0,0);
	border:none;
}

#bluebox-admin #admin-menu > li.current-item > a > div.admin-arrow:before,
#bluebox-admin #admin-menu > li.current-item:hover > a > div.admin-arrow:before {
	content:'';
	display:none;
}

#bluebox-admin #admin-menu > li > ul.admin-submenu {
	background-color: #fff;
	list-style: none;
	padding: 4px 0 0 0;
	margin: 0;
	position: absolute;
	top:0;
	right:-161px;
	width:160px;
	z-index:90;
	overflow: visible;
	display:none;
	-webkit-border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	-o-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0;
	-webkit-box-shadow:1px 1px 4px 0px rgba(0, 0, 0, 0.09), 1px 0px 2px 0px rgba(0, 0, 0, 0.26);
	-moz-box-shadow:1px 1px 4px 0px rgba(0, 0, 0, 0.09), 1px 0px 2px 0px rgba(0, 0, 0, 0.26);
	box-shadow:1px 1px 4px 0px rgba(0, 0, 0, 0.09), 1px 0px 2px 0px rgba(0, 0, 0, 0.26);
}

#bluebox-admin #admin-menu > li:hover > ul.admin-submenu,
#bluebox-admin #admin-menu > li.current-item > ul.admin-submenu {
	display:block;
}

#bluebox-admin #admin-menu > li > ul.admin-submenu li {
	position:relative;
	margin:0;
	padding:0;
	font-size:12px;
	min-height:28px;
}

#bluebox-admin #admin-menu > li.current-item > ul.admin-submenu {
	background-color: #fff;
	list-style: none;
	padding:4px 0;
	position:inherit;
	top:0;
	right:0;
	width:145px;
	z-index:10;
	overflow: visible;
	display:block;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

#bluebox-admin #admin-menu > li > ul.admin-submenu li a {
	text-decoration:none;
	line-height:18px;
	color: #21759b;
	display: block;
	padding: 2px 5px;
	padding-left:16px;
	min-height:20px;
	line-height: 20px;
}

#bluebox-admin #admin-menu > li > ul.admin-submenu li.current-item a {
	font-weight:bold;
	color:#000;
}

#bluebox-admin #admin-menu > li > ul.admin-submenu li a:hover {
	background-color: #eaf2fa;
	color: #333;
}

/* END admin menu */

/* BEGIN footer */

#bluebox-admin #admin-footer {
	color: #777;
	border-top:1px solid #dfdfdf;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 0;
	margin-right: 20px;
	border-top-width: 1px;
	border-top-style: solid;
	margin-left: 165px;
}

#bluebox-admin #admin-footer p {
	margin:0;
}

/* BEGIN footer */

/* BEGIN popup old */

.gumm-popup-window {
	position:relative;
	border:1px solid rgba(0, 0, 0, 0.4);
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	box-shadow: 0 0 32px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 32px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.4);
	background-image:url(images/light-linen-bg-tile.jpg);
	background-position:left top;
	background-repeat:repeat;
	background-color:#d8d9e0;
}

.gumm-popup-window div.popup-content {
	background:none;
}

.gumm-popup-window.loading div.popup-content {
    background-image: url('images/preloader-dark-img.gif');
	background-position: center;
	background-repeat: no-repeat;
}

.gumm-popup-window .popup-inner-content {
    padding: 10px 20px;
    position: relative;
}
.gumm-popup-window.quick-launch-popup .popup-inner-content {
    padding: 0;
}

.gumm-popup-window a.close-link {
	height:28px;
	width:28px;
	background-image:url(images/close-bg-sprite.png);
	background-position:left top;
	background-repeat:no-repeat;
	position:absolute;
	top:-10px;
	right:-10px;
}

.gumm-popup-window a.close-link:hover {
	background-position:left -28px;
}

.gumm-popup-window a.close-link:active {
	background-position:left -56px;
}

.popup-top-bar,
.popup-bottom-bar{
    position: relative;
	padding:15px;
	background-color:#fff;
	-moz-border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	border:1px solid rgba(0, 0, 0, 0.4);
	cursor:move;
}

.popup-top-bar{
    margin: 3px 3px 0 3px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	background-image:url(images/move-dots.png);
	background-position:center;
	background-repeat:no-repeat;
	height:20px;
}

.popup-bottom-bar{
    margin: 0 3px 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	-webkit-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
	-moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.2);
    margin: 0 3px 3px 3px;
}

.bluebox-admin .popup-bottom-bar .btn {
    text-transform: capitalize;
    margin-right: 10px;
}

.gumm-popup-window .popup-top-bar .search-input-wrapper {
    position:absolute;
    right: 10px;
    margin-bottom:0px;
    bottom:-35px;
    z-index:9;
}

.popup-top-bar .search-input-wrapper input {
    min-height:30px;
}

/* END popup old*/

/* BEGIN fonts popup */

#gumm-fonts-manager .gumm-radio-input {
    background-color:#fff;
    position:relative;
    padding: 10px 0;
    margin-bottom:20px;
}
#gumm-fonts-manager .gumm-radio-input.current {
    background-color: #f2f8ff;
}
#gumm-fonts-manager .gumm-radio-input h3 {
    font-size:18px;
    line-height:20px;
}
#gumm-fonts-manager .gumm-radio-input .admin-radio {
    position:absolute;
    top:50%;
    margin-top:-15px;
    left: 15px;
}
#gumm-fonts-manager .font-family-titles {
    margin-left:70px;
}

/* END fonts popup */

/* BEGIN icons manager */
.bluebox-admin .gumm-icons-manager li {
    font-size:12px;
    cursor:pointer;
    border:1px solid transparent;
    border-radius:3px;
    padding-top:5px;
}
.bluebox-admin .gumm-icons-manager li.selected,
.bluebox-admin .gumm-icons-manager li.selected:hover {
    background-color:rgba(255, 255, 255, .8);
    border-color:rgba(102, 168, 242, .4);
}
.bluebox-admin .gumm-icons-manager li i {
    font-size:16px;
}
.bluebox-admin .gumm-icons-manager li span {
    margin-left: 10px;
}
.bluebox-admin .gumm-icons-manager li:hover {
    background-color:rgba(255, 255, 255, .4);
}
.bluebox-admin .gumm-icons-manager li:hover i {
    transform:scale(1.5);
    -ms-transform:scale(1.5);
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
}
/* END icons manager*/

/* BEGIN pop up quick launch */

/*------------------ nav bar lenta + back button ------*/

.quickLaunchNavBar {
	margin:0 2px;
	height:53px;
	background-image:url(images/gumm-popup-nav-bar-bottom-tile.png);
	background-position:left bottom;
	background-repeat:repeat-x;
	position:relative;
}

h6.popup-nav-heading {
	color:#5f8697;
	line-height:50px;
	text-align:center;
	font-size:18px;
	text-shadow: 0 1px 0 #fff;
	-moz-text-shadow: 0 1px 0 #fff;
	-webkit-text-shadow: 0 1px 0 #fff;
	-o-text-shadow: 0 1px 0 #fff;
	margin:0;
}

.quickLaunchNavBar a.back-button {
	position:absolute;
	left:10px;
	top:10px;
	height:30px;
	padding-left:13px;
	color:#fff;
	background-image:url(images/gumm-popup-nav-back-button-sprite.png);
	background-position:left top;
	background-repeat:no-repeat;
	cursor:pointer;
	
	display: none;
}

.quickLaunchNavBar a.back-button span {
	line-height:30px;
	color:#fff;
	display:block;
	font-size:12px;
	font-weight:bold;
	padding-right:10px;
	background-color:#666;
	background-image:url(images/gumm-popup-nav-back-button-sprite.png);
	background-position:left -30px;
	background-repeat:repeat-x;
	-moz-border-radius:0 6px 6px 0;
	-webkit-border-radius:0 6px 6px 0;
	border-radius:0 6px 6px 0;
	-o-border-radius:0 6px 6px 0;
	-webkit-box-shadow: inset -1px 0px 0px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset -1px 0px 0px 0px rgba(0, 0, 0, 0.4);
	box-shadow: inset -1px 0px 0px 0px rgba(0, 0, 0, 0.4);
	-o-box-shadow: inset -1px 0px 0px 0px rgba(0, 0, 0, 0.4);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
	-moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
	-webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
	-o-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
}

.quickLaunchNavBar a.back-button:hover {
	background-position:left -60px;
}

.quickLaunchNavBar a.back-button:hover span {
	background-image:url(images/gumm-popup-nav-back-button-sprite.png);
	background-position:left -90px;
	
	-webkit-box-shadow: inset -1px 0px 0px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset -1px 0px 0px 0px rgba(0, 0, 0, 0.3);
	box-shadow: inset -1px 0px 0px 0px rgba(0, 0, 0, 0.3);
	-o-box-shadow: inset -1px 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.quickLaunchNavBar a.back-button:active {
	background-position:left -120px;
}

.quickLaunchNavBar a.back-button:active span {
	background-image:url(images/gumm-popup-nav-back-button-sprite.png);
	background-position:left -150px;
	
	-webkit-box-shadow: inset -2px 0px 1px -1px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: inset -2px 0px 1px -1px rgba(0, 0, 0, 0.6);
	box-shadow: inset -2px 0px 1px -1px rgba(0, 0, 0, 0.6);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9);
	-moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9);
	-webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.9);
	-o-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9);
}

/*------------------ END nav bar lenta + back button ------*/

.quickLaunchRowIconsWrap {
	padding-left:30px;
}

a.quickLaunchItem{
	margin:40px 0 0 15px;
	float:left;
	height:110px;
}
.quickLaunchItem.ql-item-active div.quickLaunchIcon{
    border:3px solid #2C90D0;
	margin:18px 28px 0 28px;
}
.quickLaunchItem.ql-item-active p.quickLaunchItemTitle {
    padding-top:4px;
}

div.quickLaunchIcon{
	background-color:#fff;
	height:60px;
	margin:20px 30px 0 30px;
	width:60px;
	border:1px solid #f6f6f6;
	background-color:#f6f6f6;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	-moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
	border-color:rgba(255, 255, 255, 0.6);
}

p.quickLaunchItemTitle {
	font-size:11px;
	text-align:center;
	padding-top:6px;
	width:122px;
	margin-top:0;
}

.quickLaunch .quickLaunchItemContent {
    position: relative;
    float: left;
    width: 100%;
    display: none;
}
html.ie8 .quickLaunchContentWrap {
    background-color: #EBEBEB;
    filter: alpha(opacity = 80);
	border-bottom:2px solid #DEDEDE;
	border-top:2px solid #DEDEDE;
}
.quickLaunchContentWrap {
	background-color:rgba(255, 255, 255, 0.5);
	border-bottom:2px solid rgba(255, 255, 255, 0.8);
	border-top:2px solid rgba(255, 255, 255, 0.8);
	padding:30px 40px 20px 20px;
	margin:28px 0 0 0;
	z-index:100;
}

.quickLaunchContentWrap div.input-wrap {
	padding: 5px 0 5px 0;
}

.gumm-tabs-inputs-shell {
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #fafafa;
}

.quickLaunchContentPointer {
	position:absolute;
	width:55px;
	height:30px;
	background-image:url(images/content-pointer-arrow-bg.png);
	background-position:center bottom;
	background-repeat:no-repeat;
	top:0;
	z-index:110;
}
.quickLaunchContentPointerInvert {
    position: absolute;
    width: 55px;
    height: 27px;
	background-image:url(images/content-pointer-arrow-invert-bg.png);
	background-position:center bottom;
	background-repeat:no-repeat;
	bottom: 0;
	z-index:111;
	display: none;
}

/* END pop up quick launch */

/* BEGIN tables quickl aunch */

.gumm-editor-pricing_table .gumm-table-column {
    width: 14.9%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1) inset;
    padding: 15px 5px;
    float: left;
    position: relative;
}
.gumm-editor-pricing_table .gumm-table-column h5 {
    text-align: center;
}
.gumm-editor-pricing_table .gumm-table-column ul {
    margin-left:0;
}
.gumm-editor-pricing_table div.input-wrap {
    width: auto;
    height: auto;
}

.gumm-table-column .input-wrap.wrap-radio input,
.gumm-table-column .input-wrap.wrap-radio label {
    float: left;
/*    margin-left:5px;*/
    width: auto;
}

/* END tables quick launch*/

/* BEGIN Evgeni Style op op*/
.template-element-settings .input-wrap {
    margin-bottom:20px;
}
.gumm-radio-input {
    cursor:pointer;
}
.colorpickerbox {
    position:relative;
}
.tabbed-input .nav-tabs input {
    display:none;
}
body.gumm-page-builder-edit-mode-on {
    overflow:hidden;
}
.btn.gumm-action-button > .icon-spin {
    margin-left: 10px;
    display:none !important;
}
.btn.gumm-action-button.acting {
    opacity: .5;
}
.gumm-editor-google-maps img {
    max-width: none !important;
}
.mceIframeContainer iframe {
    min-height:100px;
}
.gumm-wp-editor-helper {
    display:none !important;
}
.input-wrap.wrap-google-map .gumm-editor-google-maps-inputs {
    padding-top:20px;
}
.input-wrap.wrap-google-map .gmaps-remove-marker {
    margin-left:20px;
}
.gumm-editing-mask {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,.4);
    z-index:99;
}
.gumm-switch {
	width:70px;
	margin:0 auto 0 auto;
	height:29px;
	background-image:url(images/switch-sprite.png);
	background-position:left top;
	background-repeat:no-repeat;
	cursor:pointer;
}

.gumm-editor-dropcaps .gumm-switch, .gumm-editor-buttons .gumm-switch {
	background-image:url(images/small-large-switch-sprite.png);
	margin:20px 0 20px 0
}
.wrap-rating ul.rating-starts {
    margin:0;
    padding:10px 0;
    display:inline;
}
.wrap-rating .rating-starts li {
    display: inline;
}
.wrap-rating .rating-starts li.clear-rating-container {
    float:right;
}
.wrap-rating .rating-starts li a {
    margin-right: 5px;
    font-size: 16px;
    color: #444444;
}
.wrap-rating .rating-starts li a:hover {
    text-decoration:none;
}
/*.block-background-patterns-editor .background-pattern-schemes {
    margin-top:50px;
}*/

/* sinote fix */

#nova_page_header_layout .bluebox-admin label,
#nova_page_heading_settings .bluebox-admin label {
	margin:20px 0px 0px 0px;
}

#nova_page_header_layout .bluebox-admin .radio-label-group label,
#nova_page_header_layout .bluebox-admin label.checkbox,
#nova_page_header_layout .bluebox-admin .tabbed-inputs > div:last-child > div.input-wrap:first-child label,
#nova_page_heading_settings .bluebox-admin .radio-label-group label,
#nova_page_heading_settings .bluebox-admin label.checkbox,
#nova_page_heading_settings .bluebox-admin .tabbed-inputs > div:last-child > div.input-wrap:first-child label {
	margin-top:0px;
}

#nova_page_header_layout .nav-tabs,
#nova_page_heading_settings .nav-tabs {
	margin-top:10px;
}

/* sinote fix */

/* BEGIN date picker */

#ui-datepicker-div {
	background-color: #fff;
	padding:10px;
	box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.42);
	-webkit-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.42);
	-moz-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.42);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.ui-datepicker-header {
	text-align: center;
	position: relative;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.ui-datepicker-prev {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 30px;
	width: 30px;
	box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
	background-color: rgba(0, 0, 0, 0.02);
	cursor: pointer;
}

.ui-datepicker-next {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	height: 30px;
	width: 30px;
	box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
	background-color: rgba(0, 0, 0, 0.02);
	cursor: pointer;
}

.ui-datepicker-next:after {
	content: '';
	display: block;
	position: absolute;
	height: 0;
	width: 0;
	top: 11px;
	left: 13px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid #000;
}

.ui-datepicker-prev:after {
	content: '';
	display: block;
	position: absolute;
	height: 0;
	width: 0;
	top: 11px;
	left: 13px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 4px solid #000;
}

.ui-datepicker-next:hover:after {
	border-left: 4px solid #fff;
}

.ui-datepicker-prev:hover:after {
	border-right: 4px solid #fff;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover {
	background-color:#66a8f2;
}

#ui-datepicker-div table {
	text-align: center;
	width: 100%;
	font-size: 11px;
	border-collapse: collapse;
	border-spacing: 0;
}

#ui-datepicker-div table td a {
	text-decoration: none;
	display: block;
	height: 26px;
	line-height: 26px;
	padding: 4px 0;
}

#ui-datepicker-div table td a:hover {
	background-color:#66a8f2;
	color: #fff;
}

#ui-datepicker-div dl {
	display: block;
	width: 300px;
	float: left;
	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px solid #eaeaea;
}

#ui-datepicker-div dl dt,
#ui-datepicker-div dl dd {
	float: left;
	margin:0;
	/*height: 35px;*/
	position: relative;
	display: block;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

#ui-datepicker-div dl dt {
	width: 100%;
	padding-bottom: 0;
	margin-bottom: 5px;
}

#ui-datepicker-div dl dd {
	width: 100%;
	border-bottom: 1px solid #eaeaea;
}

.ui_tpicker_second,
.ui_tpicker_millisec {
	display: none !important;
}

.ui_tpicker_timezone {
	margin-bottom: 0 !important;
}

/* END date picker */
