@charset "utf-8";
/* CSS Document */

html, body {
	width:100%;
	height:100%;
	padding:0px;
	border:0px;
	margin:0px;
	background-color:#F2F2F2;
}


#page {
	position:relative;
	top:15px;
	width:1250px;
	height:auto;
	min-height:700px;
	min-width:1000px;
	overflow:hidden;
	background-color:;
	margin:auto;
}

#text_top{
	width:100%;
	height:auto;
	border:none;
	text-align:center;
	font-size:28px;
	color:#484848;
}


#admin{
	margin:10px 0px 10px 10px;
}



#text{
	width: 340px;
	font-size:24px;
	color:#333;
	margin:auto;
	text-align:center;
	background-color:;
}

#meniu_stanga{
	float:left;
	width:150px;
	min-height:200px;
	height:auto;
	position:absolute;
	top:150px;
	left:10px;
	background-color:;
}

#lista_meniu tr td{
	width:150px;
	height:30px;
	font-size:18px;
	background-color:#333;
}

#lista_meniu tr td:hover{
	background-color:#0F87FF;
}



#lista_meniu tr a{
	text-decoration:none;
	color:white;		
}


.tabel_date{
	float:left;
	position:relative;
	left:200px;
	margin-top:25px;
	width:70%;
	height:auto;
	background-color:;
	-moz-box-shadow: 0px 1px 8px #CCC;
  	-webkit-box-shadow: 0px 1px 8px #CCC;
 	 box-shadow: 0px 1px 8px #030303;
	margin-bottom:15px; 
}

#tabel_date_inscris{
	width:90%;
	background-color:;
	margin:auto;
}



#tabel_date_inscris tr .celule{
	width:50%;
	min-height:20px;
	font-size:16px;
	font-weight:700;
	background-color:#006AD5;
	color:white;
	text-align:right;
	padding-right:10px;
}



#tabel_date_inscris tr .input{
	width:50%;
	min-height:20px;
	text-align:left;
	
}

#tabel_date_inscris tr .input_buton{
	width:50%;
	min-height:20px;
	text-align:center;
}

input[type="text"], input[type="email"], input[type="number"], input[type="date"]{
	width:99%;
	height:100%;
	font-size:16px;
	font-weight:500;
	background-color:white;
	text-indent:10px;
	color: #575757;
	border:solid 1px #666666;
} 

.select, input[type="radio"]{
	margin-left:10px;
}
 
textarea{
	width:99%;
	height:150px;
	font-size:16px;
	font-weight:700;
	resize:none;
	background-color:white;
	color:#575757;
	border:solid 1px #666666;
}


.modifica{
	background-color: #666;
	color:white;
	font-size:16px;
	margin-top:10px;
	margin-right:10px;
	border:none !important
}

.modifica:hover{
	background-color: #1D1D1D;
	cursor: pointer;
	border:none !important
}

/******* div-uri erori sau succes *******/

.eroare{
	width:60%;
	margin:auto;
	height:auto;
	background-color:#FBE3E4;
	color:red;
	padding:0 2px;
	border-radius:5px;
	border: solid 1px #FBC2C4;
	
}

.eroare img{
	padding-left:20px;
	background: no-repeat 0px 3px;
	color:red;
	font-size:14px;
}

.succes{
	width:70%;
	height:auto;
	border:solid 1px #C6D880;
	border-radius:2px;
	background:#E6EFC2;
	color:#264409;
	padding:0 2px;
	margin:auto;
}

.succes p{
	padding-left:20px;
	background: url(../pics/tick1.png) no-repeat 0px 3px;
	font-size:14px;
	color:green;
}