@charset "utf-8";
/* CSS Document */


html, body {
	min-width:100%;
	min-height:100%;
	padding:0px;
	border:0px;
	margin:0px;
	background-color:#F2F2F2;
	
}


#page {
	position:relative;
	top:15px;
	width:1250px;
	min-height:650px;
	height:auto;
	min-width:1000px;
	overflow:hidden;
	background-color:;
	margin:auto;
}

#text_top{
	width:100%;
	height:auto;
	background-color:;
	border:none;
	text-align:center;
	font-size:28px;
	color:#484848;
}


#admin{
	margin:10px 0px 10px 10px;
}

#meniu_stanga{
	float:left;
	width:150px;
	min-height:200px;
	height:auto;
	position:absolute;
	top:150px;
	left:10px;
	background-color:;
}

#lista_meniu tr td{
	width:150px;
	height:30px;
	font-size:18px;
	background-color:#333;
}

#lista_meniu tr td:hover{
	background-color:#0F87FF;

}

#lista_meniu tr td a{
	text-decoration:none;
	color:white;		
}

.main_content{
	float:left;
	position:relative;
	left:200px;
	top:20px;
	min-width:900px;
	width:auto;
	height:auto;
	-moz-box-shadow: 0px 1px 8px #CCC;
  	-webkit-box-shadow: 0px 1px 8px #CCC;
 	 box-shadow: 0px 1px 8px #030303;
	background-color:;
	overflow:auto;
	margin-bottom:60px;
}

ul{
	list-style:none;
	padding-left:40px;
	margin:0;
	left:10px;
	
}


ul li{
	float:left;
	margin-right:10px;
	display:block;
	width:auto;
	height:auto;
	background-color:gray;
	color:#FFF;
	font-weight:bold;	
	padding:3px;
	border-top-right-radius:4px;
	border-top-left-radius:4px;
	
}

ul li a{
	text-decoration:none;
	color:white;
	text-align:center;
}

ul li a:hover{
	
	color: #141414;
}


.activ{
	color:white;
	background-color:#0F87FF;
}


#continut{
	width:100%;
	height:100%;
	overflow:hidden;
	background-color:;
	margin-bottom:60px;
}


#tip_competitie{
	float:left;
	width:35%;
	margin:20px;
	margin-left:40px;
	border:1px solid black;
}

#tip_competitie th{
	color:white;
	background-color:black;
}

#tip_competitie td{
	text-align:center;
	border:1px solid black;
}

#tip_competitie td input[type="text"]{
	width:15px;
}


#nume_competitii{
	float:left;
	width:50%;
	margin:20px;
	border:1px solid black;
}

#nume_competitii th{
	color:white;
	background-color:black;
}

#nume_competitii td{
	text-align:center;
	border:1px solid black;
}

#nume_competitii td input[type="text"]{
	width:15px;
}