@charset "utf-8";
/* CSS Document */

html, body {
	width:100%;
	height:100%;
	padding:0px;
	border:0px;
	margin:0px;
	background-color:#F2F2F2;
}


#page {
	position:relative;
	top:15px;
	width:1250px;
	height:auto;
	min-height:650px;
	min-width:1000px;
	overflow:hidden;
	background-color:;
	margin:auto;
}

#text_top{
	width:100%;
	height:auto;
	background-color:;
	border:none;
	text-align:center;
	font-size:28px;
	color:#484848;
}


#admin{
	margin:10px 0px 10px 10px;
}


#text{
	width: 50%;
	font-size:24px;
	color:#333;
	margin:auto;
	text-align:center;
	background:;
}

#cautare_avansata{
	width:50%;
	height:auto;
	padding:0px;
	margin:auto;
	min-width:700px;
	background-color:;
}


#cautare_avansata input[type="button"]{
	width:auto;
	height:auto;
	font-size:24px;
	background-color: #006AD5;
	color:white;
	cursor:pointer;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
	border-radius:8px;
	border:none !important
}

#buton{
	position:relative;
	left:250px;
	
}

#cautare_formular{
	width:100%
	height:auto;	
	/*background-color:red;*/
	
}

#cautare_tabel{
	width:90%;
	height:auto;
	margin:auto;
	padding:10px;
	font-size:16px;
	margin-top:15px;
	background-color:white;	
	-moz-box-shadow: 0px 1px 8px #CCC;
  	-webkit-box-shadow: 0px 1px 8px #CCC;
 	 box-shadow: 0px 1px 8px #030303;
	border-radius:6px;
	display:none;
	clear:both;
}

#cautare_tabel .celule{
	width:320px;
	height:15px;
	/*background-color:green;*/
	
}

#cautare_tabel .celule input[type="text"]{
	height:100%;
	width:90%;
	font-style:italic;
	color:#C5C5C5;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="date"]:focus{
	color:#333;
}

input[type="submit"]{
	color:white;
	background-color: #666;
	min-width:100px;
	font-size:18px;
	border:none; !important
}

input[type="submit"]:hover{	
	background-color: #1D1D1D;
	cursor:pointer;
	border:none; !important
}

#date_inscrisi{
	width:98%;
	margin:10px 0px 10px 10px;
	overflow:hidden;
}

#date_inscrisi button img{
	position:relative;
	top:3px;
	left:-5px;
}

#date_inscrisi a{
	text-decoration:none;
	color:black;
}

#meniu_stanga{
	float:left;
	width:150px;
	min-height:200px;
	height:auto;
	position:absolute;
	top:150px;
	left:10px;
	background-color:;
}

#lista_meniu tr td{
	width:150px;
	height:30px;
	font-size:18px;
	background-color:#333;
}

#lista_meniu tr td:hover{
	background-color:#0F87FF;

}

#lista_meniu tr td a{
	text-decoration:none;
	color:white;		
}

.main_content{
	float:left;
	position:relative;
	left:165px;
	top:20px;
	min-width:1052px;
	min-height:500px;
	height:auto;
	-moz-box-shadow: 0px 1px 8px #CCC;
  	-webkit-box-shadow: 0px 1px 8px #CCC;
 	 box-shadow: 0px 1px 8px #030303;
	background-color:;
	overflow:auto;
	margin-bottom:60px;
}

#main_content_data{
	width:100%;
	
}

#main_content_data .cap_tabel{
	background-color:#333;
	font-weight:300;
	color:white;
}


#main_content_data tr {
	font-size:12px;
	width:65px;
	word-break: normal;
	border:1px solid #000000;
	text-align:center;
	background-color:white;
	color:inherit;
}

#main_content_data tr td{
	padding: 2px;
}

.rezultat_nul {
	width:50%;
	margin:auto;
	margin-top:200px;
	text-align:center;
	font-size:18px;
	color:red;
	background-color:;
}

#main_content_data button{
	height:auto;
	width:auto;
	font-size:10px;
	padding:0px;
}

#messageDiv{
	position:fixed;
	top:50px;
	width:800px;
	min-height:500px;
	right: 0;
    left: 0;
    margin: auto;
	background-color:white;
	word-wrap:break-word;
	z-index:100;
	display:none;	
	border:5px solid #535353;
}

#close_div{
	float:right; 
	margin-right:10px; 
	margin-top:10px; 
	width:32px; 
	clear:both;
	background-color:;
}

#close_div:hover{
	cursor:pointer;
}

#trimite_mail{	
	position:relative;
	top:50px;
	width:80%;
	height:auto;
	margin:auto;
	background-color:;
}

#trimite_mail tr td{
	text-align:center;
	background-color:;
}

#trimite_mail tr td.celula{
	width:50%;
	font-size:18px;
	background-color:;
}


input[type="text"], textarea{
	width:99%;
	height:300px;
	font-size:12px;
	resize:none;
	word-wrap: break-word;
		
}



#gray{
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background:url(../pics/background_gray.png) repeat;
	z-index:50px;
	display:none;
		
	
}

/***** paginatie ******/

.pagination{
	clear:both;
	height:auto;
	overflow:hidden;
	width:100%;
	background-color:;
	
}

.pagination .pagination_content{
	width:80%;
	margin:auto;
	overflow:hidden;
	word-wrap:normal;
		
}


.page_number{
	float:left;
	height:20px;
	width:20px;
	text-align:center;
	background-color:;	
}

.page_number a{
	text-decoration:none;
	color:black;
	font-size:12px;
}

.page_number #strong a{
	font-size:18px;
	font-weight: bolder;
	color:#00F;
}

/***** mesaj succes ******/


#mesaj{
	width:50%;
	margin:auto;
	text-align:center;
	
}

.succes{
	width:100%;
	height:auto;
	border:solid 1px #C6D880;
	border-radius:2px;
	background:#E6EFC2;
	color:#264409;
	padding:0 2px;
	margin:2px 0px;
}

.succes img{
	padding-left:20px;
	padding-right:20px;
	background: url(pics/tick1.png) no-repeat 0px 3px;
	font-size:14px;
	color:green;
}