@charset "utf-8";
/* CSS Document */

html, body {
	width:100%;
	height:100%;
	padding:0px;
	border:0px;
	margin:0px;
	background-color:#F2F2F2;
}


#page {
	position:relative;
	top:15px;
	width:1250px;
	height:auto;
	min-height:650px;
	min-width:1000px;
	overflow:hidden;
	background-color:;
	margin:auto;
}

#text_top{
	width:100%;
	height:auto;
	border:none;
	text-align:center;
	font-size:28px;
	color:#484848;
}


#admin{
	margin:10px 0px 10px 10px;
}

#breadcrumbs{
	float:left;
	width:100%;
	height:auto;
	font-size:12px;
}

#breadcrumbs ul {
	width:100%;
	padding-left:10px;
	margin:0px;
}

#breadcrumbs ul li{
	float:left;
	list-style:none;
	padding-right:10px;
}

#breadcrumbs ul li a{
	color:#006AD5;
	text-decoration:none;
}


#breadcrumbs ul li active{
	color:#333;
}

#meniu_stanga{
	float:left;
	width:150px;
	min-height:200px;
	height:auto;
	position:absolute;
	top:150px;
	left:10px;
	background-color:;
}

#lista_meniu tr td{
	width:150px;
	height:30px;
	font-size:18px;
	background-color:#333;
}

#lista_meniu tr td:hover{
	background-color:#0F87FF;
}

#lista_meniu tr a{
	text-decoration:none;
	color:white;		
}

.tabel_date{
	float:left;
	position:relative;
	left:200px;
	width:70%;
	height:auto;
	background-color:;
	-moz-box-shadow: 0px 1px 8px #CCC;
  	-webkit-box-shadow: 0px 1px 8px #CCC;
 	 box-shadow: 0px 1px 8px #030303;
	margin-bottom:15px; 
}

#tabel_date_inscris{
	width:70%;
	margin:auto;
	background-color:;
}

#tabel_date_inscris_modifica{
	width:70%;
	margin:auto;
	background-color:;
}

#tabel_date_inscris #header {
	min-height:20px;
	font-size:20px;
	font-weight:700;
	text-align:center;
	color:white;
	background-color: #006;
}

#tabel_date_inscris_modifica #header {
	min-height:20px;
	font-size:20px;
	font-weight:700;
	text-align:center;
	color:white;
	background-color: #A60000;
}

#tabel_date_inscris tr .celule{
	width:50%;
	min-height:20px;
	font-size:16px;
	background-color: #006AD5;
	color:white;
	text-align:right;
	padding-right:10px;
}

#tabel_date_inscris_modifica tr .celule{
	width:50%;
	min-height:20px;
	font-size:16px;
	background-color: #006AD5;
	color:white;
	text-align:right;
	padding-right:10px;
}

#tabel_date_inscris tr .input{
	width:50%;
	min-height:20px;
	text-align:center;
	border:1px solid #006AD5;
}

#tabel_date_inscris_modifica tr .input{
	width:50%;
	min-height:20px;
	text-align:center;
	border:1px solid #006AD5;
}

input[type="text"], input[type="email"], input[type="number"], input[type="date"]{
	width:98%;
	height:100%;
	font-size:16px;
	font-weight:500;
	background-color:white;
	text-indent:10px;
	color: #575757;
	border:none !important
} 

select{
	width:98%;
	
}

textarea{
	width:98%;
	height:150px;
	font-size:16px;
	font-weight:500;
	text-indent:10px;
	resize:none;
	background-color:white;
	color:#575757;
	border:none !important
}


.modifica{
	background-color: #666;
	color:white;
	font-size:16px;
	margin-top:10px;
	margin-right:10px;
	border:none !important
}

.modifica:hover{
	background-color: #1D1D1D;
	cursor: pointer;
	border:none !important
}

#delete{
	background-color:red;
	color:white;
	margin-top:10px;
	cursor: pointer;
	font-size:16px;
	margin-left:10px;
	border:none !important
}

#delete:hover{
	background-color: #D90000;
	cursor: pointer;
	border:none !important
}