@charset "utf-8";
/* CSS Document */


html, body {
	min-width:100%;
	min-height:100%;
	padding:0px;
	border:0px;
	margin:0px;
	background-color:#F2F2F2;
	
}


#page {
	position:relative;
	top:15px;
	width:1250px;
	min-height:650px;
	min-width:1000px;
	overflow:hidden;
	background-color:;
	margin:auto;
}


#text_top{
	width:100%;
	height:auto;
	background-color:;
	border:none;
	text-align:center;
	font-size:28px;
	color:#484848;
}


#admin{
	margin:10px 0px 10px 10px;
}



#breadcrumbs{
	float:left;
	width:80%;
	height:auto;
	font-size:12px;
}

#breadcrumbs ul {
	width:100%;
	padding-left:10px;
	margin:0px;
}

#breadcrumbs ul li{
	float:left;
	list-style:none;
	padding-right:10px;
}

#breadcrumbs ul li a{
	color:#006AD5;
	text-decoration:none;
}


#breadcrumbs ul li active{
	color:#333;
}


#meniu_stanga{
	float:left;
	width:150px;
	min-height:200px;
	height:auto;
	position:absolute;
	top:150px;
	left:10px;
	background-color:;
}

#lista_meniu tr td{
	width:150px;
	height:30px;
	font-size:18px;
	background-color:#333;
}

#lista_meniu tr td:hover{
	background-color:#0F87FF;

}

#lista_meniu tr td a{
	text-decoration:none;
	color:white;		
}

.main_content{
	float:left;
	position:relative;
	left:200px;
	top:20px;
	min-width:900px;
	width:auto;
	height:auto;
	-moz-box-shadow: 0px 1px 8px #CCC;
  	-webkit-box-shadow: 0px 1px 8px #CCC;
 	 box-shadow: 0px 1px 8px #030303;
	background-color:;
	overflow:auto;
	margin-bottom:60px;
}

#main_content_data{
	width:100%;
	background-color:;
}


#main_content_data .cap_tabel{
	font-size:14px;
	background-color:#333;
	color:white;
}

#main_content_data .cap_tabel td{
	width:100px;
	text-align:center;
	}


#main_content_data tr .celule{
	width:50%;
	min-height:20px;
	font-size:16px;
	font-weight:bold;
	background-color: #006AD5;
	color:white;
	text-align:left;
	text-indent:150px;
	padding-right:10px;
}

#main_content_data tr .input{
	width:50%;
	min-height:20px;
	text-align:center;
	border:1px solid #333;
}

#main_content_data tr #butoane{
	text-align:center;
}

#main_content_data .input{
	padding:0px;
}

#main_content_data .input input[type="text"]{
	width:90%;
	height:100%;
	
}

.modifica{
	background-color: #666;
	color:white;
	font-size:16px;
	margin-top:10px;
	margin-right:10px;
	border:none !important
}

.modifica:hover{
	background-color: #1D1D1D;
	cursor: pointer;
	border:none !important
}


/******* formatarea eroarii ********/
.eroare{
	width:60%;
	margin:auto;
	margin-top:20px;
	height:auto;
	background-color:#FBE3E4;
	color:red;
	padding:0 2px;
	border-radius:5px;
	border: solid 1px #FBC2C4;
	font-size:16px;
	
}


.eroare img{
	padding-left:20px;
	padding-right:20px;
	background: no-repeat 0px 3px;
	color:red;
	font-size:14px;
}