@charset "utf-8";
/* CSS Document */



html, body {
	width:100%;
	height:100%;
	padding:0px;
	border:0px;
	margin:0px;
	background-color:#F2F2F2;
}


#page {
	position:relative;
	margin-top:0px;
	width:1250px;
	height:auto;
	min-height:700px;
	min-width:1000px;
	overflow:hidden;
	background-color:;
	margin: auto;
	
}

#text_top{
	width:100%;
	height:auto;
	border:none;
	text-align:center;
	font-size:28px;
	color:#484848;
}

#admin{
	width:250px;
	margin:10px 0px 10px 10px;
}

#text{
	width:50%;
	text-align:center;
	font-size:20px;
	color:#333;
	margin:auto;
	background-color:;
	
}

#cautare_avansata{
	width:50%;
	height:auto;
	padding:0px;
	margin:auto;
	min-width:700px;
	background-color:;
}



#cautare_formular{
	width:100%
	height:auto;	
	background-color:;
	
}


#cautare_avansata input[type="button"]{
	width:auto;
	height:auto;
	font-size:24px;
	background-color: #006AD5;
	color:white;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
	border-radius:8px;
	border:none !important
}

#cautare_avansata #buton{
	position:relative;
	left:250px;
	cursor:pointer;
}


#cautare_tabel{
	width:90%;
	height:auto;
	margin:auto;
	padding:10px;
	font-size:16px;
	margin-top:15px;
	background-color:white;	
	-moz-box-shadow: 0px 1px 8px #CCC;
  	-webkit-box-shadow: 0px 1px 8px #CCC;
 	 box-shadow: 0px 1px 8px #030303;
	border-radius:6px;
	display:none;
	clear:both;
}


#cautare_tabel .celule{
	width:320px;
	height:15px;
	background-color:
	
}

input[type="text"], input[type="number"]{
	height:100%;
	width:90%;
	font-style:italic;
	color:#C5C5C5;
}

input[type="text"]:focus, input[type="number"]:focus{
	color:#333;
}

input[type="submit"]{
	color:white;
	background-color: #666;
	min-width:100px;
	font-size:18px;
	border:none; !important
}

input[type="submit"]:hover{	
	background-color: #1D1D1D;
	cursor:pointer;
	border:none; !important
}

#meniu_stanga{
	float:left;
	width:150px;
	min-height:200px;
	height:auto;
	position:absolute;
	top:150px;
	left:10px;
	background-color:;
}

#lista_meniu tr td{
	width:150px;
	height:30px;
	font-size:18px;
	background-color:#333;
}

#lista_meniu tr td:hover{
	background-color:#0F87FF;
}



#lista_meniu tr a{
	text-decoration:none;
	color:white;		
}


#breadcrumbs{
	float:left;
	width:80%;
	height:auto;
	font-size:12px;
}

#breadcrumbs ul {
	width:100%;
	padding-left:10px;
	margin:0px;
}

#breadcrumbs ul li{
	float:left;
	list-style:none;
	padding-right:10px;
}

#breadcrumbs ul li a{
	color:#006AD5;
	text-decoration:none;
}


#breadcrumbs ul li active{
	color:#333;
}

#adauga_participant{
	
	margin:10px 0px 0px 10px;
}

#date_competitie{
	margin:10px 0px 0px 10px;
}

#date_competitie #traseu{
	width:99%;
}

#date_competitie #traseu th{
	font-size:12px;
	width:100px;
}

#date_competitie #traseu td{
	font-size:12px;
	text-align:center;
	border:1px dotted #999999;
	
}

#date_competitie #cat_varsta{
	width:99%;
	
}

#date_competitie #cat_varsta th{
	font-size:12px;
	width:100px;
}

#date_competitie #cat_varsta td{
	text-align:center;
	border:dotted 1px #999999;
	font-size:12px;
}

#continut{
	float:left;
	position:relative;
	left:165px;
	top:20px;
	min-width:1000px;
	min-height:500px;
	height:auto;
	-moz-box-shadow: 0px 1px 8px #CCC;
  	-webkit-box-shadow: 0px 1px 8px #CCC;
 	 box-shadow: 0px 1px 8px #030303;
	background-color:;
	overflow:auto;
	margin-bottom:50px;
}

#continut #date_tabel_competitie{
	width:100%;
	height:auto;
	margin-bottom:50px;
}

#continut #date_tabel_competitie .cap_tabel{
	background-color:#333;
	font-weight:300;
	text-align:center;
	color:white;
	font-size:12px;
}

#continut #date_tabel_competitie .cap_tabel td{
	padding:0px;
	margin:0px;
	
}

#continut #date_tabel_competitie .cap_tabel a{
	color:white;
}

#continut #date_tabel_competitie .cap_tabel button{
	font-size:10px;
}

#continut #date_tabel_competitie .celule{
	font-size:12px;
	width:auto;
	word-break: normal;
	border:1px solid #000000;
	text-align:center;
	background-color:white;
	color:inherit;
	
}

#continut #date_tabel_competitie .celule td{
	padding:0px;
	margin:0px;
}

#continut #date_tabel_competitie .celule td button{
	font-size:10px;
}


.rezultat_nul {
	width:auto;
	margin:auto;
	font-size:18px;
	color:red;
	background-color:;
	text-align:center;
}

#continut #date_tabel_competitie .button{
	color:black;
	background-color: #D2D2D2;
	min-width:45px;
	font-size:10px;
	border:1px solid #666; 
	
}

#messageDiv{
	position:fixed;
	top:50px;
	width:800px;
	min-height:500px;
	height:auto;
	right: 0;
    left: 0;
    margin: auto;
	background-color:white;
	word-wrap:break-word;
	z-index:100;
	display:none;	
	border:5px solid #535353;
}

#close_div{
	float:right; 
	margin-right:10px; 
	margin-top:10px; 
	width:32px; 
	clear:both;
	background-color:;
}

#close_div:hover{
	cursor:pointer;
}

#trimite_mail{	
	position:relative;
	top:50px;
	width:80%;
	height:auto;
	margin:auto;
	background-color:;
}

#trimite_mail tr td{
	text-align:center;
}

#trimite_mail tr td.celula{
	width:50%;
	font-size:18px;
}

input[type="email"], input[type="text"], textarea{
	width:99%;
	font-size:12px;
	resize:none;
	
}

#gray{
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background:url(../pics/background_gray.png) repeat;
	z-index:50px;
	display:none; 
}

#animation{	
	width:250px;	
	margin:auto;
	background-color:;
	text-align:center;
	
}


#updateCompetitie{
	position:fixed;
	top:50px;
	width:800px;
	min-height:500px;
	height:auto;
	right: 0;
    left: 0;
    margin: auto;
	background-color:white;
	word-wrap:break-word;
	z-index:100;
	display:none;	
	border:5px solid #535353;
	
}

#tabelUpdateCompetitie{
	position:relative;
	top:150px;
	width:70%;
	height:auto;
	margin:auto;
	background-color:;
	
}

#tabelUpdateCompetitie tr th{
	width:50%;
	font-size:16px;
	text-align:left;
	border: 1px solid gray;
}

#tabelUpdateCompetitie tr td {	
	font-size:16px;
	text-align:center;
	border: 1px solid gray;
}

/***** paginatie ******/

.pagination{
	clear:both;
	height:auto;
	overflow:hidden;
	width:100%;
	background-color:;
	
}

.pagination .pagination_content{
	width:80%;
	margin:auto;
	overflow:hidden;
	word-wrap:normal;
		
}


.page_number{
	float:left;
	height:20px;
	width:20px;
	text-align:center;
	background-color:;	
}

.page_number a{
	text-decoration:none;
	color:black;
	font-size:16px;
	
}

.page_number #strong a{
	font-size:16px;
	font-weight: 800;
	color:#00F;
	
}

/** mesaj succes **/

.succes{
	width:70%;
	height:auto;
	border:solid 1px #C6D880;
	border-radius:2px;
	background:#E6EFC2;
	color:#264409;
	padding:0 2px;
	margin:auto;
	text-align:center;
}

.succes img{
	padding-left:20px;
	padding-right:20px;
	font-size:14px;
	color:green;
}

/** mesaj eroare **/

.eroare{
	width:70%;
	height:auto;
	background-color:#FBE3E4;
	color:red;
	padding:0 2px;
	border-radius:2px;
	border: solid 1px #FBC2C4;
	margin:auto;
	text-align:center;
}

.eroare img{
	padding-left:20px;
	padding-right:20px;
	color:red;
	font-size:14px;
}