@charset "utf-8";
/* CSS Document */



html, body {
	width:100%;
	height:100%;
	padding:0px;
	border:0px;
	margin:0px;
	background-color:#F2F2F2;
}


#page {
	position:relative;
	top:15px;
	width:1250px;
	height:auto;
	min-height:700px;
	min-width:1050px;
	overflow:hidden;
	background-color:;
	margin:auto;
}

#text_top{
	width:100%;
	height:auto;
	border:none;
	text-align:center;
	font-size:28px;
	color:#484848;
}


#admin{
	width:300px;
	margin:10px 0px 10px 10px;
}


#meniu_stanga{
	float:left;
	width:150px;
	min-height:200px;
	height:auto;
	position:absolute;
	top:150px;
	left:10px;
	background-color:;
}

#lista_meniu tr td{
	width:150px;
	height:30px;
	font-size:18px;
	background-color:#333;
}

#lista_meniu tr td:hover{
	background-color:#0F87FF;
}



#lista_meniu tr a{
	text-decoration:none;
	color:white;		
}




.main_content{
	float:left;
	position:relative;
	left:165px;
	top:20px;
	width:1050px;
	min-height:600px;
	height:auto;
	-moz-box-shadow: 0px 1px 8px #CCC;
  	-webkit-box-shadow: 0px 1px 8px #CCC;
 	 box-shadow: 0px 1px 8px #030303;
	background-color:;
	overflow:auto;
	margin-bottom:60px;
}


.main_content #tabel_competitie{
	width:50%;
	height:auto;
	margin:auto;
	background-color:;
}



.main_content #tabel_competitie .cap_tabel{
	width:50%;
	background-color:#006AD5;
	font-weight:300;
	text-align:left;
	text-indent:70px;
	color:white;
	font-size:12px;
}



.main_content #tabel_competitie .celule {
	font-size:12px;
	width:50%;
	word-break: normal;
	border:1px solid #006AD5;
	text-align:center;
	background-color:white;
	color:inherit;
	
}

.main_content #tabel_competitie .celule input[type="text"], .main_content #tabel_competitie .celule select, .main_content #tabel_competitie .celule textarea{
	width:95%;
	height:auto;
	text-align:left;	
	resize:none;
}

.main_content #tabel_competitie .celule select{
	background-color:#DADADA;
}

#breadcrumbs{
	
	width:80%;
	height:auto;
	font-size:12px;
}

#breadcrumbs ul {
	width:100%;
	padding-left:10px;
	margin:0px;
}

#breadcrumbs ul li{
	float:left;
	list-style:none;
	padding-right:10px;
	
}

#breadcrumbs ul li a{
	color:#006AD5;
	text-decoration:none;
}


#breadcrumbs ul li active{
	color:#333;
}

/** mesajele de eroare **/
.eroare{
	width:60%;
	margin:auto;
	height:auto;
	background-color:#FBE3E4;
	color:red;
	padding:0 2px;
	border-radius:5px;
	border: solid 1px #FBC2C4;
	text-align:center;
}

.eroare img{
	padding-left:20px;
	padding-right:20px;
	background: no-repeat 0px 3px;
	color:red;
	font-size:14px;
}
