@charset "utf-8";
/* CSS Document */




html, body {
	width:100%;
	height:100%;
	padding:0px;
	border:0px;
	margin:0px;
	background-color:#F2F2F2;
}


#page {
	position:relative;
	top:15px;
	width:1300px;
	height:auto;
	min-height:700px;
	min-width:1000px;
	overflow:hidden;
	background-color:;
	margin:auto;
}

#text_top{
	width:100%;
	height:auto;
	border:none;
	text-align:center;
	font-size:28px;
	color:#484848;
}


#admin{
	width:300px;
	margin:10px 0px 10px 10px;
}

#cautare_avansata{
	width:50%;
	height:auto;
	padding:0px;
	margin:auto;
	min-width:700px;
	background-color:;
}

/*
#meniu_stanga{
	float:left;
	width:150px;
	min-height:200px;
	height:auto;
	position:absolute;
	top:150px;
	left:10px;
	background-color:;
}

#lista_meniu tr td{
	width:150px;
	height:30px;
	font-size:18px;
	background-color:#333;
}

#lista_meniu tr td:hover{
	background-color:#0F87FF;
}



#lista_meniu tr a{
	text-decoration:none;
	color:white;		
}

*/
.main_content{
	/*float:left;
	position:relative;
	left:165px; */
	top:20px;
	/*width:1100px;*/
	width:99%;
	margin:auto;
	min-height:;
	height:auto;
	-moz-box-shadow: 0px 1px 8px #CCC;
  	-webkit-box-shadow: 0px 1px 8px #CCC;
 	 box-shadow: 0px 1px 8px #030303;
	background-color:;
	overflow:auto;
}


.main_content #tabel_competitie{
	width:99%;
	height:auto;
	margin:auto;
	background-color:;
}



.main_content #tabel_competitie .cap_tabel{
	width:100%;
	background-color:#333;
	font-weight:300;
	text-align:center;
	color:white;
	font-size:12px;
	
}

.main_content #tabel_competitie .cap_coloana{	
	font-size:10px;
	background-color:#333;
	text-align:center;
	color:white;
	
}


.main_content #tabel_competitie .celule {
	font-size:10px;
	border:1px solid #006AD5;
	text-align:center;
	background-color:white;
	color:inherit;	
}

.main_content #tabel_competitie .celule td{
	margin:0px;
	padding:0px;
	width:auto;
	background-color:;
}

.main_content #tabel_competitie .celule td:hover{
background-color:#FC6;

}



.main_content #tabel_competitie .celule td input[type="text"]{
	height:auto;
	width:100%;	
	text-align:center;
	font-size:10px;	
	background-color:;
	border:none !important
	
}

.main_content #tabel_competitie .celule input[type="text"]:hover{
	background-color:#FC6;
}

.main_content #tabel_competitie .celule input[type="text"]:focus{
	background-color:#FC6;
}

#breadcrumbs{
	
	width:80%;
	height:auto;
	font-size:12px;
}

#breadcrumbs ul {
	width:100%;
	padding-left:10px;
	margin:0px;
}

#breadcrumbs ul li{
	float:left;
	list-style:none;
	padding-right:10px;
	
}

#breadcrumbs ul li a{
	color:#006AD5;
	text-decoration:none;
}


#breadcrumbs ul li active{
	color:#333;
}


/***** paginatie ******/

.pagination{
	clear:both;
	height:auto;
	overflow:hidden;
	width:100%;
	background-color:;
	
}

.pagination .pagination_content{
	width:80%;
	margin:auto;
	overflow:hidden;
	word-wrap:normal;
		
}


.page_number{
	float:left;
	height:20px;
	width:20px;
	text-align:center;
	background-color:;	
}

.page_number a{
	text-decoration:none;
	color:black;
	font-size:16px;
	
}

.page_number #strong a{
	font-size:16px;
	font-weight: 800;
	color:#00F;
	
}


/******* formatarea erorii ********/
.eroare{
	width:60%;
	margin:auto;
	margin-top:20px;
	height:auto;
	background-color:#FBE3E4;
	color:red;
	padding:0 2px;
	border-radius:5px;
	border: solid 1px #FBC2C4;
	font-size:16px;
	
}


.eroare img{
	padding-left:20px;
	padding-right:20px;
	background: no-repeat 0px 3px;
	color:red;
	font-size:14px;
}