@charset "utf-8";
/* CSS Document */




html, body {
	width:100%;
	height:100%;
	padding:0px;
	border:0px;
	margin:0px;
	background-color:#F2F2F2;
}


#page {
	position:relative;
	top:15px;
	width:1250px;
	height:auto;
	min-height:650px;
	min-width:1000px;
	overflow:hidden;
	background-color:;
	margin:auto;
}

#text_top{
	width:100%;
	height:auto;
	background-color:;
	border:none;
	text-align:center;
	font-size:28px;
	color:#484848;
}



#admin{
	margin:10px 0px 10px 10px;
}


#breadcrumbs{
	float:left;
	width:100%;
	height:auto;
	font-size:12px;
}

#breadcrumbs ul {
	width:100%;
	padding-left:10px;
	margin:0px;
}

#breadcrumbs ul li{
	float:left;
	list-style:none;
	padding-right:10px;
}

#breadcrumbs ul li a{
	color:#006AD5;
	text-decoration:none;
}


#breadcrumbs ul li active{
	color:#333;
}

#meniu_stanga{
	float:left;
	width:150px;
	min-height:200px;
	height:auto;
	position:absolute;
	top:150px;
	left:10px;
	background-color:;
}

#lista_meniu tr td{
	width:150px;
	height:30px;
	font-size:18px;
	background-color:#333;
}

#lista_meniu tr td:hover{
	background-color:#0F87FF;

}

#lista_meniu tr td a{
	text-decoration:none;
	color:white;		
}

.tabel_date{
	float:left;
	position:relative;
	left:200px;
	width:70%;
	height:auto;
	background-color:white;
	-moz-box-shadow: 0px 1px 8px #CCC;
  	-webkit-box-shadow: 0px 1px 8px #CCC;
 	 box-shadow: 0px 1px 8px #030303;
	margin-bottom:15px; 
}

#tabel_date_newsletter{
	width:100%;
	background-color:;
}

#tabel_date_newsletter_modifica{
	width:100%;
	background-color:;
}


#tabel_date_newsletter #header {
	min-height:20px;
	font-size:20px;
	font-weight:700;
	text-align:center;
	color:white;
	background-color: #006;
}


#tabel_date_newsletter_modifica #header {
	min-height:20px;
	font-size:20px;
	font-weight:700;
	text-align:center;
	color:white;
	background-color: #A60000;
}


#tabel_date_newsletter tr .celule , #tabel_date_newsletter_modifica tr .celule{
	width:50%;
	min-height:20px;
	font-size:16px;
	font-weight:bold;
	background-color: #006AD5;
	color:white;
	text-align:right;
	padding-right:10px;
}



#tabel_date_newsletter tr .input , #tabel_date_newsletter_modifica tr .input{
	width:50%;
	min-height:20px;
	text-align:center;
	border:1px solid #333;
}

#tabel_date_newsletter tr .input textarea , #tabel_date_newsletter_modifica tr .input textarea{
	width:100%;
	height:500px;
	
	
	}
	
input[type="text"]{
	width:98%;
	height:100%;
	font-size:16px;
	font-weight:500;
	background-color:white;
	text-indent:10px;
	color: #575757;
	border:none !important
} 


 
textarea{
	width:98%;
	height:150px;
	font-size:16px;
	font-weight:500;
	resize:none;
	background-color:white;
	color:#575757;
	border:none !important
}


.modifica{
	background-color: #666;
	color:white;
	font-size:16px;
	margin-top:10px;
	margin-right:10px;
	border:none !important
}

.modifica:hover{
	background-color: #1D1D1D;
	cursor: pointer;
	border:none !important
}
