@charset "utf-8";
/* CSS Document */



html, body {
	min-width:100%;
	min-height:100%;
	padding:0px;
	border:0px;
	margin:0px;
	background-color:#F2F2F2;
	
}


#page {
	position:relative;
	top:15px;
	width:1250px;
	min-height:650px;
	min-width:1000px;
	overflow:hidden;
	background-color:;
	margin:auto;
}

#text_top{
	width:100%;
	height:auto;
	background-color:;
	border:none;
	text-align:center;
	font-size:28px;
	color:#484848;
}


#admin{
	margin:10px 0px 10px 10px;
}

#text{
	width:50%;
	margin:auto;
	text-align:center;
	font-size:24px;
	color:#333;
	margin:auto;
}

#meniu_stanga{
	float:left;
	width:150px;
	min-height:200px;
	height:auto;
	position:absolute;
	top:150px;
	left:10px;
	background-color:;
}

#lista_meniu tr td{
	width:150px;
	height:30px;
	font-size:18px;
	background-color:#333;
}

#lista_meniu tr td:hover{
	background-color:#0F87FF;

}

#lista_meniu tr td a{
	text-decoration:none;
	color:white;		
}


.main_content{
	float:left;
	position:relative;
	left:200px;
	top:20px;
	min-width:900px;
	width:1000px;
	height:auto;
	-moz-box-shadow: 0px 1px 8px #CCC;
  	-webkit-box-shadow: 0px 1px 8px #CCC;
 	 box-shadow: 0px 1px 8px #030303;
	background-color:;
	overflow:auto;
	margin-bottom:60px;
}

.mesaj{
	width:60%;
	margin:auto;
	text-align:center;
	font-size:20px;
	font-weight:500;
	background-color:;
}

#main_content_data{
	width:100%;
	background-color:;
}


#main_content_data .cap_tabel{
	font-size:14px;
	background-color:#333;
	color:white;
}

#main_content_data .cap_tabel td{
	width:100px;
	text-align:center;
	}


#main_content_data .celule td {
	font-size:12px;
	width:65px;
	word-break: normal;
	border:1px solid #000000;
	text-align:center;
	background-color:white;
	
}

#main_content_data .dark td {
	font-size:12px;
	width:65px;
	word-break: normal;
	border:1px solid #000000;
	text-align:center;
	background-color: #FFB062;
	
}


/** mesaj succes **/

.succes{
	width:70%;
	height:auto;
	border:solid 1px #C6D880;
	border-radius:2px;
	background:#E6EFC2;
	color:#264409;
	padding:0 2px;
	margin:auto;
	text-align:center;
}

.succes img{
	padding-left:20px;
	padding-right:20px;
	font-size:14px;
	color:green;
}

/** mesaj eroare **/

.eroare{
	width:70%;
	height:auto;
	background-color:#FBE3E4;
	color:red;
	padding:0 2px;
	border-radius:2px;
	border: solid 1px #FBC2C4;
	margin:auto;
	text-align:center;
}

.eroare img{
	padding-left:20px;
	padding-right:20px;
	color:red;
	font-size:14px;
}

/***** paginatie ******/

.pagination{
	clear:both;
	height:auto;
	overflow:hidden;
	width:100%;
	background-color:;
	
}

.pagination .pagination_content{
	width:80%;
	margin:auto;
	overflow:hidden;
	word-wrap:normal;
		
}


.page_number{
	float:left;
	height:20px;
	width:20px;
	text-align:center;
	background-color:;	
}

.page_number a{
	text-decoration:none;
	color:black;
	font-size:12px;
}

.page_number #strong a{
	font-size:18px;
	font-weight: bolder;
	color:#00F;
}
