/* ---------- tinyMCE Editor styles -*/
.mceContentBody blockquote {
    border-left: 2px solid;
    border-color: #2C90D0;
    margin: 1.5em 1.5em;
    padding: 0.05em 2em;
}

/* ---------- list styles ---------- */

ul.sc-list {
    list-style: none;
}
ul.sc-list li {
	padding-left:30px;
	background-position:left center;
	background-repeat:no-repeat;
}

ul.sc-list.accept li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/accept.png);
}

ul.sc-list.add li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/add.png);
}

ul.sc-list.android li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/android.png);
}

ul.sc-list.apple_corp li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/apple_corp.png);
}

ul.sc-list.arrow_right li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/arrow_right.png);
}

ul.sc-list.award_star_bronze_2 li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/award_star_bronze_2.png);
}

ul.sc-list.brick li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/brick.png);
}

ul.sc-list.bullet_add li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/bullet_add.png);
}

ul.sc-list.bullet_arrow_right li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/bullet_arrow_right.png);
}

ul.sc-list.bullet_black li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/bullet_black.png);
}

ul.sc-list.bullet_blue li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/bullet_blue.png);
}

ul.sc-list.bullet_delete li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/bullet_delete.png);
}

ul.sc-list.bullet_error li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/bullet_error.png);
}

ul.sc-list.bullet_go li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/bullet_go.png);
}

ul.sc-list.bullet_green li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/bullet_green.png);
}

ul.sc-list.bullet_orange li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/bullet_orange.png);
}

ul.sc-list.bullet_pink li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/bullet_pink.png);
}

ul.sc-list.bullet_purple li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/bullet_purple.png);
}

ul.sc-list.bullet_red li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/bullet_red.png);
}

ul.sc-list.bullet_star li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/bullet_star.png);
}

ul.sc-list.bullet_toggle_plus li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/bullet_toggle_plus.png);
}

ul.sc-list.bullet_white li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/bullet_white.png);
}

ul.sc-list.bullet_yellow li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/bullet_yellow.png);
}

ul.sc-list.check_box li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/check_box.png);
}

ul.sc-list.color_management li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/color_management.png);
}

ul.sc-list.color_swatch li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/color_swatch.png);
}

ul.sc-list.color_wheel li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/color_wheel.png);
}

ul.sc-list.comment li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/comment.png);
}

ul.sc-list.comments li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/comments.png);
}

ul.sc-list.control_play_blue li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/control_play_blue.png);
}

ul.sc-list.delete li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/delete.png);
}

ul.sc-list.draw_star li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/draw_star.png);
}

ul.sc-list.email li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/email.png);
}

ul.sc-list.emotion_evilgrin li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/emotion_evilgrin.png);
}

ul.sc-list.emotion_grin li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/emotion_grin.png);
}

ul.sc-list.emotion_happy li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/emotion_happy.png);
}

ul.sc-list.emotion_smile li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/emotion_smile.png);
}

ul.sc-list.emotion_suprised li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/emotion_suprised.png);
}

ul.sc-list.emotion_tongue li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/emotion_tongue.png);
}

ul.sc-list.emotion_unhappy li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/emotion_unhappy.png);
}

ul.sc-list.emotion_waii li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/emotion_waii.png);
}

ul.sc-list.emotion_wink li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/emotion_wink.png);
}

ul.sc-list.error li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/error.png);
}

ul.sc-list.exclamation li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/exclamation.png);
}

ul.sc-list.feed li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/feed.png);
}

ul.sc-list.flag_1 li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/flag_1.png);
}

ul.sc-list.flag_2 li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/flag_2.png);
}

ul.sc-list.flag_green li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/flag_green.png);
}

ul.sc-list.flag_hot li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/flag_hot.png);
}

ul.sc-list.flag_yellow li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/flag_yellow.png);
}

ul.sc-list.green li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/green.png);
}

ul.sc-list.hand_point li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/hand_point.png);
}

ul.sc-list.heart li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/heart.png);
}

ul.sc-list.help li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/help.png);
}

ul.sc-list.image li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/image.png);
}

ul.sc-list.information li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/information.png);
}

ul.sc-list.key li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/key.png);
}

ul.sc-list.life_vest li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/life_vest.png);
}

ul.sc-list.lightning li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/lightning.png);
}

ul.sc-list.medal_bronze_2 li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/medal_bronze_2.png);
}

ul.sc-list.monitor li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/monitor.png);
}

ul.sc-list.page_white li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/page_white.png);
}

ul.sc-list.printer li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/printer.png);
}

ul.sc-list.resultset_next li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/resultset_next.png);
}

ul.sc-list.ribbon li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/ribbon.png);
}

ul.sc-list.rosette li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/rosette.png);
}

ul.sc-list.shopping li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/shopping.png);
}

ul.sc-list.sign li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/sign.png);
}

ul.sc-list.star li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/star.png);
}

ul.sc-list.statistics li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/statistics.png);
}

ul.sc-list.support li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/support.png);
}

ul.sc-list.tag_blue li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/tag_blue.png);
}

ul.sc-list.tag_green li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/tag_green.png);
}

ul.sc-list.tag_orange li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/tag_orange.png);
}

ul.sc-list.tag_pink li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/tag_pink.png);
}

ul.sc-list.tag_purple li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/tag_purple.png);
}

ul.sc-list.tag_red li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/tag_red.png);
}

ul.sc-list.tag_yellow li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/tag_yellow.png);
}

ul.sc-list.tick li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/tick.png);
}

ul.sc-list.time li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/time.png);
}

ul.sc-list.zoom li {
	background-image: url(../../../../images/bluebox/fatcow-hosting-icons-2400/16x16/zoom.png);
}


/* ---------- end list styles ---------- */

/* ---------- column styles ---------- */

.mceContentBody .one-half {
	width: 48%;
}

.mceContentBody .one-third {
	width: 30.66%;
}

.mceContentBody .two-third {
	width: 65.33%;
}

.mceContentBody .one-fourth {
	width: 22%;
}

.mceContentBody .three-fourth {
	width: 74%;
}

.mceContentBody .one-fifth {
	width: 16.8%;
}

.mceContentBody .two-fifth {
	width: 37.6%;
}

.mceContentBody .three-fifth {
	width: 58.4%;
}

.mceContentBody .four-fifth {
	width: 67.2%;
}

.mceContentBody .one-sixth {
	width: 13.33%;
}

.mceContentBody .five-sixth {
	width: 82.67%;
}

.mceContentBody .one-half,
.mceContentBody .one-third,
.mceContentBody .two-third,
.mceContentBody .three-fourth,
.mceContentBody .one-fourth,
.mceContentBody .one-fifth,
.mceContentBody .two-fifth,
.mceContentBody .three-fifth,
.mceContentBody .four-fifth,
.mceContentBody .one-sixth,
.mceContentBody .five-sixth {
	position: relative;
	margin-right: 4%;
	margin-bottom: 20px;
	float: left;
}

.mceContentBody .column-last {
	margin-right: 0!important;
	clear: right;
}
/* ---------- end column styles ---------- */

ul.roki-pricing-table {
    list-style: none;
    padding: 0px;
}
ul.roki-pricing-table > li {
    padding: 10px;
    border: 1px dashed #bababa;
}
ul.roki-pricing-table li.price-row strong,
ul.roki-pricing-table li.price-row span  {
    border: 1px dashed #bababa;
    margin: 0 5px;
    padding: 5px;
}
